<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
	    <h3>Manage Archive.org Import</h3>
		<p>
			Use this flow to manage page titles and convert
			this import into a FromThePage work.
		</p>
		<h3>Page Titles</h3>
		<p>
			<%= button_to('Retitle from top of page OCR',
						  { :action => 'title_from_ocr_top',
							:ia_work_id => @ia_work.id })%>
			<%= button_to('Retitle from bottom of page OCR',
						  { :action => 'title_from_ocr_bottom',
							:ia_work_id => @ia_work.id })%>

		</p>
		<h3>Publish to Editors</h3>
		<p>
			<%= form_tag :action => :convert do  %>
				<%= label_tag :use_ocr, 'Use OCR for page contents?' %>
				<%= check_box_tag :use_ocr %>
				<%= hidden_field_tag :ia_work_id, @ia_work.id %>
				<br/>
				<%= submit_tag "Publish" %>			
			<% end %>
		</p>
		<h3>
			Leaves:
		</h3>
			<table border="1" width="100%">
				<thead>
					<tr>
						<th>
							Thumbnail
						</th>
						<th>
							Title
						</th>
						<th>
							OCR Text
						</th>
					</tr>
				</thead>
				<tbody>
					<% for leaf in @ia_work.ia_leaves %>
						<tr>
							<td>
						   		<div class="thumbnail-container">
									<%= image_tag(leaf.thumb_url) %>
								</div>
							</td>
							<td>
								<%= leaf.page_number %>
							</td>
							<td>
								<%= display_ocr(leaf) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
   </div>
  </div>
  <div class="right-column">
    <div class="inside-column">
      <%= html_block('right') %>
    </div>
  </div>
</div>
