<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
	    <h3>Manage Archive.org Import</h3>
		<p>
			Use this flow to manage page titles and convert 
			this import into a FromThePage work.
		</p>
		<p>
			<%= button_to('Retitle from OCR',
						  { :action => 'title_from_ocr',
							:ia_work_id => @ia_work.id })%>
			<%= button_to('Purge Delete Scans',
						  { :action => 'purge_type_delete',
							:ia_work_id => @ia_work.id })%>
			<%= button_to('Convert to FromThePage',
						  { :action => 'convert',
							:ia_work_id => @ia_work.id })%>
		</p>
		<h3>
			Leaves:
		</h3>
		<p>
			<table>
				<thead>
					<tr>
						<th>
							Number
						</th>
						<th>
							Type
						</th>
						<th>
							Title
						</th>
					</tr>
				</thead>
				<tbody>
					<% for leaf in @ia_work.ia_leaves %>
						<tr>
							<td>
								<%= leaf.leaf_number %>								
							</td>
							<td>
								<%= leaf.page_type %>								
							</td>
							<td>
								<%= leaf.page_number %>								
							</td>						
						</tr>
					<% end %>
				</tbody>
			</table>
		</p>
   </div>
  </div>
  <div class="right-column">
  	<div class="inside-column">
		<p>
			This page displays a book that has been imported from the Internet Archive
			but has not yet been converted to a FromThePage work.  
		</p>
		<dl>
		    <dt>
		      Retitle from OCR
		    </dt>
		    <dd>
		      This replaces the Archive.org page numbers with the first line of OCR text
			  on each page.  This is useful for diaries and daybooks, since the first line
			  is generally a date.  This process will take several minutes to run, since
			  it requires parsing the entire OCR text for the book and updating each page
			  number.  After the book has been converted to a FromThePage work, you will
			  be able to correct any page titles. 
			  
		    </dd>
		    <dt>
		      Purge Delete Scans
		    </dt>
		    <dd>
			  Some leaves in an Archive.org scan are used for color calibration and never
			  displayed.  Archive.org marks these as type <i>Delete</i>.  Purging these
			  will remove these leaves from the work and prevent the need to manually
			  delete them later.
		    </dd>
		    <dt>
		      Convert to FromThePage
		    </dt>
		    <dd>
		      Once you've got titles and leaves ready, this button will convert the book
			  to a ready-to-transcribe FromThePage work.  This process will take several
			  minutes to run.
		    </dd>
		  </dl>

  	</div>
  </div>
</div>