<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
	    <h3>Manage Archive.org Import</h3>
		<p>
			Use this flow to manage page titles and convert
			this import into a FromThePage work.
		</p>
		<p>
			<%= button_to('Retitle from OCR',
						  { :action => 'title_from_ocr',
							:ia_work_id => @ia_work.id })%>
			<%= button_to('Purge Delete Scans',
						  { :action => 'purge_type_delete',
							:ia_work_id => @ia_work.id })%>
			<%= button_to('Convert to FromThePage',
						  { :action => 'convert',
							:ia_work_id => @ia_work.id })%>
		</p>
		<h3>
			Leaves:
		</h3>
		<p>
			<table>
				<thead>
					<tr>
						<th>
							Number
						</th>
						<th>
							Type
						</th>
						<th>
							Title
						</th>
					</tr>
				</thead>
				<tbody>
					<% for leaf in @ia_work.ia_leaves %>
						<tr>
							<td>
								<%= leaf.leaf_number %>
							</td>
							<td>
								<%= leaf.page_type %>
							</td>
							<td>
								<%= leaf.page_number %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</p>
   </div>
  </div>
  <div class="right-column">
    <div class="inside-column">
      <%= html_block('right') %>
    </div>
  </div>
</div>
