<p id="notice"><%= notice %></p>

<p>
  <strong>Percent:</strong>
  <%= @quality_sampling.percent %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @quality_sampling.start_time %>
</p>

<p>
  <strong>Previous start:</strong>
  <%= @quality_sampling.previous_start %>
</p>

<p>
  <strong>User:</strong>
  <%= @quality_sampling.user_id %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @quality_sampling.collection_id %>
</p>

<p>
  <strong>Field:</strong>
  <%= @quality_sampling.field %>
</p>

<%= link_to 'Edit', edit_collection_quality_sampling_path(@quality_sampling) %> |
<%= link_to 'Back', collection_quality_samplings_path %>
