<%= render({ :partial => '/shared/collection_tabs',
             :locals => { :selected => 3,
                          :collection_id => @collection.id }}) %>

<script type="text/javascript" language="javascript">
  add_child_prompt = function(parent_id, parent_title) {
    new_name = prompt("Title for subcategory of <i>" + parent_title + "</i>");
    if (new_name != '' && new_name != null) {
      document.location = '<%= url_for(:action => 'add_child', :collection_id => @collection.id)%>' +
        '&title=' + new_name +
        '&category_id=' + parent_id;
    }
  }
</script>


<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <p>
        <%= form_for(@category, { :url => { :action => 'create' }}) do |f| %>
        <%= hidden_field_tag(:collection_id, @collection.id) %>
        <%= f.hidden_field(:collection_id) %>
        Category Title:
        <%= f.text_field(:title) %>
        <%= submit_tag('create') %>
        <% end %>
			</p>
      <p>
        Categories in <%= @collection.title %>:<br />
        <%= raw(display_categories(@collection.categories, nil) do |category|
              category.title +
              " " +
              link_to('delete', 
	                    { :action => 'delete',
	                      :category_id => category.id,
	                      :collection_id => @collection.id,
                        :ol => 'cat_mg_delete' },
	                    { :confirm => "Are you sure you want to delete #{category.title} and all its subcategories?"}) +
	            " " +
              link_to_function('add child', 
                               "add_child_prompt('#{category.id}', '#{category.title}')", 
                               { :title => "Add a subcategory underneath #{category.title}"} )
            end) %>
      </p>
	  <% if @page %>
	  	<p>
	  		<%= link_to("Return to categories for #{@page.title}",
						{ :controller => 'transcribe',
						  :action => 'assign_categories',
						  :page_id => @page.id }) %>
	  	</p>
	  <% end %>
    </div>
  </div>
  <div class="right-column">
    <div class="inside-column">

       <%= html_block('right') %>
    </div>
  </div>
</div>
