<h2 style="color:#453939; margin:0; font-weight:normal;">User Stats for FromThePage</h2>
<p>These are the new users from the last <%= @hours %> hours.</p>

<div style="margin-top:20px; padding-top:20px; border-top:1px solid #D3CFC6">
There are <%= @recent_users.count %> new users in the last <%= @hours %> hours.<br>
<% @recent_users.each do |user| %>
<%= user.login %> 
<%= user.email %><br>
<% end %> 
</div>

<div style="margin-top:20px; padding-top:20px; border-top:1px solid #D3CFC6">
Other activity in the last <%= @hours %> hours.<br>

<% @recent_deeds.each do |d| %>
  <%= render(:partial => 'deed/deed.html', :locals => { :deed => d, :long_view => true }) %><br />
<% end %>        
</div>
