<h1>New Upload on FromThePage</h1>

<p>
	A user has just uploaded a new document.  You should probably check on it to make sure it worked.
</p>
<p>
	ID: <%= @document_upload.id %><br />
	File: <%= @document_upload.file %><br />
	<br /
	User: <%= @document_upload.user.login %><br />
	User Email: <%= @document_upload.user.email %><br />
	<br />
	Target Collection Title: <%= @document_upload.collection.title %> <br />
	Target Collection ID: <%= @document_upload.collection.id %><br />
</p>
