<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			<%= form_for @page_block, :url => { :action => "update" } do |f| %>
				<%= f.label :html, "HTML Block for #{@page_block.description}" %><br>
				<%= f.text_area :html, :cols => 80, :rows => 40 %><br>
				<%= f.hidden_field :id %>
				<%= f.submit %>

				
			<% end %>
		</div>
	</div>
	
	<div class="right-column">
		<div class="inside-column">
		  <%= html_block('right') %>			
		</div>
	</div>
</div>
