<div class="two-columns">
     <div class="left-column">
                <div class="inside-column">

<div>
  User ID:<%= @user.id %><br />
  Login:<%= @user.login %><br />
  Display Name:<%= link_to(@user.display_name,
	                           { :controller => 'user',
	                               :action => 'profile',
	                               :user_id => @user.id }) %><br />
  Print Name:<%= @user.print_name %>
</div>

<div>
	<%= form_for( @user, :url => { :action => 'update_user' }) do |f| %>
		<p>Owner: <%= f.check_box(:owner) %></p>
    <%= hidden_field_tag(:user_id, @user.id) %>  
    <p><%= submit_tag('Save') %></p>
	<% end %>
	
	<%= button_to("Delete User",
            { :action => 'delete_user',
              :user_id => @user.id },
            { :confirm => 'Are you sure?' }) %>
</div>
		</div>
		</div>

		<div class="right-column">
		     <div class="inside-column">
                  <%= html_block('right') %>
		      </div>
		      </div>
</div>



