<h2>Error List</h2>

<%= html_block('top') %>

<table>
  <tr>
	  <th>
	    Time
	  </th>
	  <th>
	    Action
	  </th>
	  <th>
	    Context
	  </th>
	  <th>
	    Origin
	  </th>
	  <th>
	    User
	  </th>
	  <th>
	    Collection
	  </th>
	  <th>
	    Work
	  </th>
	  <th>
	    Page
	  </th>
	  <th>
	    Parameters
	  </th>
  </tr>
	<% for interaction in @interactions %>
	<tr>
		<td>
			<%= interaction.created_on.strftime("%Y-%m-%d %H:%M:%S") %>
		</td>
		<td>
			<%= interaction.action %>
		</td>
		<td>
			<%= link_to('session',
			            { :action => 'interaction_list',
			              :session_id => interaction.session_id }) %>
		</td>
		<td>
			<%= interaction.origin_link %>
		</td>
		<td>
      <% if interaction.user %>
				<%= link_to(interaction.user.login,
				            { :controller => 'user',
				              :action => 'versions',
				              :user_id => interaction.user_id })%>
      <% else %>
        &nbsp;
	    <% end %>
		</td>
		<td>
      <% if interaction.collection %>
				<%= link_to(interaction.collection.title,
				            { :controller => 'collection',
			                :action => 'show',
			                :collection_id => interaction.collection_id })%>
      <% else %>
        &nbsp;
	    <% end %>
		</td>
		<td>
      <% if interaction.work %>
				<%= link_to(interaction.work.title,
				            { :controller => 'display',
				              :action => 'read_work',
				              :work_id => interaction.work_id })%>
      <% else %>
        &nbsp;
	    <% end %>
		</td>
		<td>
      <% if interaction.page %>
				<%= link_to(interaction.page.title,
				            { :controller => 'display',
				              :action => 'display_page',
				              :page_id => interaction.page_id })%>
      <% else %>
        &nbsp;
	    <% end %>
		</td>
		<td>
			<%= interaction.params %>
		</td>
	</tr>
	<% end%>
</table>


