<h2>Session List for <%= @user_name %></h2>
<%= html_block('top') %>
<%= link_to('Next 50', 
            { :offset => (@offset.to_i + 50).to_s,
              :ol => 'adm_sl_next50' } ) %>
<table>
  <tr>
	  <th>
	    Started
	  </th>
	  <th>
	    Interactions
	  </th>
	  <th>
	    IP Address
	  </th>
	  <th>
	    Browser
	  </th>
	  <th>
	    Session ID
	  </th>
  </tr>
	<% for sess in @sessions %>
	<tr>
		<td>
			<%= sess['started'] %>
		</td>
		<td>
			<%= link_to(sess['total'], 
			            { :action => 'interaction_list', 
			              :session_id => sess['session_id'],
			              :ol => 'adm_sl_total' }) %>
		</td>
		<td>
			<%= sess['ip_address'] %>
		</td>
		<td>
			<%= sess['browser'] %>
		</td>
		<td>
			<%= sess['session_id'] %>
		</td>
	</tr>
	<% end%>
</table>

