
<table>
        <tr>
                <th>
                        Image
                </th>
                <th>
                        Title
                </th>
        </tr>
<% @titled_images.each do |image| %>
        <tr>
                <td>
                        <a href="<%= file_to_url(image.shrunk_file) %>"><%= image_tag(file_to_url(image.crop_file)) %></a>
                </td>
                <td style="padding-bottom: 1em">
		  <%= form_for :image, url: { action: :update, id: image.id } do |f| %>
		    <%= f.text_field :title, value: image.title, class: "image_title" %>
		    <%= f.submit "Update Title" %>
		  <% end %>
                    <%= link_to('X',
                                { :action => 'delete_image',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('+',
                                { :action => 'increment_by_one',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('++',
                                { :action => 'increment_by_two',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('+10',
                                { :action => 'increment_by_ten',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('+365',
                                { :action => 'increment_by_365',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('-',
                                { :action => 'decrement_by_one',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('--',
                                { :action => 'decrement_by_two',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('-10',
                                { :action => 'decrement_by_ten',
                                  :titled_image_id => image.id }) %>
                    <%= link_to('-365',
                                { :action => 'decrement_by_365',
                                  :titled_image_id => image.id }) %>
                </td>
        </tr>
<% end %>
</table>

<%= javascript_tag do %>
  $( document ).ready(function() {
    $('form').areYouSure();
  });
<% end %>

