<%= render({ :partial => '/shared/collection_tabs',
             :locals => { :selected => 0,
			 :collection_id => @collection.id }}) %>

<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			<!-- page navigation -- collection tab -->
            <%= html_block('left') %>
			<!-- work stats for this collection -->
			<table width="100%">
				<thead>
					<tr>
						<th align="left">
							Title
						</th>
						<th align="right">
							Pages
						</th>
						<th align="right">
							Indexed
						</th>
						<th align="right">
							Transcribed
						</th>
						<th align="left">
							Progress
						</th>
					</tr>
				</thead>
				<tbody>
				<% for work in @works %>
					<tr>
						<td align="left">
							<%= link_to(work.title,
										{ :controller=>'display',
										  :action=>'list_pages',
										  :work_id => work.id }) %>
						</td>
						<td align="right">
							<%= work.work_statistic.total_pages %>
						</td>
						<td align="right">
							<%= work.work_statistic.pct_annotated.to_i %>%
						</td>
						<td align="right">
							<%= work.work_statistic.pct_transcribed.to_i %>%
						</td>
						<td style="width:205px;align:right">
							<div style="width:200px;height:10px;border:1px solid black;" >
								<div style="float:left;valign:bottom;background-color:#32CD32;background-repeat:repeat;width:<%=work.work_statistic.pct_annotated%>%;height:10px;">
								</div>
								<div style="float:left;valign:bottom;background-color:#BFFF00;background-repeat:repeat;width:<%=work.work_statistic.pct_transcribed-work.work_statistic.pct_annotated%>%;height:10px;">
								</div>
							</div>
						</td>
					</tr>
				<% end %>

				</tbody>
			</table>
		</div>
	</div>
	<div class="right-column">
		<div class="inside-column">
			<!-- user stats across collections -->
			<p>
				<b>Top 10 Transcribers for <%=@collection.title %></b><br />
				<% for entry in @t_top_ten_users_and_deeds %>
					<%=entry[0].display_name%>
					(<%= entry[1]%>)
					<br />
				<% end %>
			</p>
			<p>
				<b>Top 10 Indexers for <%=@collection.title %></b><br />
				<% for entry in @i_top_ten_users_and_deeds %>
					<%=entry[0].display_name%>
					(<%= entry[1]%>)
					<br />
				<% end %>
			</p>
			<p>
				<b>Top 10 Editors for <%=@collection.title %></b><br />
				<% for entry in @e_top_ten_users_and_deeds %>
					<%=entry[0].display_name%>
					(<%= entry[1]%>)
					<br />
				<% end %>
			</p>
			<!-- link to all contributor stats -->
			<p>
				<%=link_to('View all contributors',
						   { :action => 'users',
							 :collection_id => @collection.id })%>
			</p>
		</div>
	</div>
</div>
