<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			<!-- no page navigation? -->
            <%= html_block('left') %>
			<!-- collection list by status -->
			<!-- work stats across collections -->
		</div>
	</div>
	<div class="right-column">
		<div class="inside-column">
			<!-- user stats across collections -->
			<p>
				<b>Top 10 Transcribers</b><br />
				<% for entry in @t_top_ten_users_and_deeds %>
					<%=entry[0].display_name%>
					(<%= entry[1]%>)
					<br />
				<% end %>
			</p>
			<p>
				<b>Top 10 Editors</b><br />
				<% for entry in @e_top_ten_users_and_deeds %>
					<%=entry[0].display_name%>
					(<%= entry[1]%>)
					<br />
				<% end %>
			</p>
			<!-- link to all contributor stats -->
			<p>
				<%=link_to('View all contributors',
						   { :action => 'users' })%>
			</p>
		</div>
	</div>
</div>
