<!-- 
Collection Tabs

Tab                         Access
-----------------------     ------
1 Show (works/articles)     V
2 Settings                  O

-->
<div id="navcontainer">
  <ul id="navlist">
    <% if selected == 1 %> 
      <li id="current">
        <span>home</span>
      </li>
    <% else %>
      <li>
        <%= link_to('home', 
                    { :controller => 'collection', 
                      :action => 'show', 
                      :collection_id => collection_id,
                      :ol => 'c_tab_browse' }) %>
      </li>     
    <% end %>

    <% article_list_options = { :controller => 'article',
                                 :action => 'list',
                                 :collection_id => collection_id,
                                :ol => 'c_tab_subjects' } %>
    <% if current_page? article_list_options %>
	      <li id="current">
	        <span>subjects</span>
	      </li>
    <% else %>
	      <li>
  	      <%= link_to('subjects', article_list_options)%>
	      </li>
    <% end %>

    <% collection_stat_options = { :controller => 'statistics',
                                 :action => 'collection',
                                 :collection_id => collection_id,
                                :ol => 'c_tab_statistics' } %>
    <% if current_page? collection_stat_options %> 
      <li id="current">
        <span>stats</span>
      </li>
    <% else %>
      <li>
        <%= link_to('stats', 
                    collection_stat_options) %>
      </li>     
    <% end %>

    <% if logged_in? && current_user.like_owner?(@collection) %>
	    <% if selected == 2 %> 
	      <li id="current">
	        <span>settings</span>
	      </li>
	    <% else %>
	      <li>
	        <%= link_to('settings', 
	                    { :controller => 'collection', 
	                      :action => 'edit', 
	                      :collection_id => collection_id,
                        :ol => 'c_tab_setting' }) %>
	      </li>     
	    <% end %>
	    <% if selected == 3 %> 
	      <li id="current">
	        <span>categories</span>
	      </li>
	    <% else %>
	      <li>
	        <%= link_to('categories', 
	                    { :controller => 'category', 
	                      :action => 'manage', 
	                      :collection_id => collection_id,
                        :ol => 'c_tab_cats' }) %>
	      </li>     
	    <% end %>
    <% end %>

    <% if logged_in? && current_user.like_owner?(@collection) %>
	    <% collection_owners_options = { :controller => 'collection',
	                                     :action => 'owners',
	                                     :collection_id => collection_id,
	                                     :ol => 'c_tab_owners' } %>
	    <% if current_page? collection_owners_options %> 
	      <li id="current">
	        <span>owners</span>
	      </li>
	    <% else %>
	      <li>
	        <%= link_to('owners', 
	                    collection_owners_options) %>
	      </li>     
	    <% end %>

    <% end %>
  </ul>
</div>

