<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FromThePage</title>
    <!-- Meta End-->

    <!-- Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'fontawesome.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Crete+Round&family=Lora:wght@400;500;600;700&display=swap" %>
    <%= stylesheet_link_tag 'optimize' %>
    <%= stylesheet_link_tag 'main' %>




    <style>
        .home-main::before {
            background: url('<%=path_to_image('materials/main-bg.png')%>') no-repeat;
        }
        .home-services::before {
            background: url('<%=path_to_image('materials/services-bg.png')%>') no-repeat;
            background-size: cover;
        }

        .home-video::before {
            background: url('<%=path_to_image('materials/video-bg.png')%>') no-repeat;
        }
        .home-start::before {
            background: url('<%=path_to_image('materials/bg-start.png')%>') no-repeat;
        }
    </style>
    <!-- Links End -->
</head>
