<div id="navcontainer">
  <ul id="navlist">
    <% if selected == 1 %>
      <li id="current">
        <span>read</span>
      </li>
    <% else %>
      <li>
        <%= link_to('read',
                    { :controller => 'display',
                      :action => 'read_work',
                      :work_id => work_id }) %>
      </li>
    <% end %>

    <% if selected == 2 %>
      <li id="current">
        <span>contents</span>
      </li>
    <% else %>
      <li>
        <%= link_to('contents',
                    { :controller => 'display',
                      :action => 'list_pages',
                      :work_id => work_id }) %>
      </li>
    <% end %>

    <% if selected == 3 %>
      <li id="current">
        <span>about</span>
      </li>
    <% else %>
      <li>
        <%= link_to('about',
                    { :controller => 'work',
                      :action => 'show',
                      :work_id => work_id }) %>
      </li>
    <% end %>

    <% if selected == 4 %>
      <li id="current">
        <span>versions</span>
      </li>
    <% else %>
      <li>
        <%= link_to('versions',
                    { :controller => 'work',
                      :action => 'versions',
                      :work_id => work_id }) %>
      </li>
    <% end %>

<% if session[:demo_mode] %>
    <% if selected == 5 %>
      <li id="current">
        <span>print</span>
      </li>
    <% else %>
      <li>
        <%= link_to('print',
                    { :controller => 'print',
                      :action => 'work',
                      :work_id => work_id }) %>
      </li>
    <% end %>
<% end %>

    <% if @work.owner == current_user %>
	    <% if selected == 6 %>
	      <li id="current">
	        <span>settings</span>
	      </li>
	    <% else %>
	      <li>
	        <%= link_to('settings',
	                    { :controller => 'work',
	                      :action => 'edit',
	                      :work_id => work_id }) %>
	      </li>
	    <% end %>

	    <% if selected == 7 %>
	      <li id="current">
	        <span>access</span>
	      </li>
	    <% else %>
	      <li>
	        <%= link_to('access',
	                    { :controller => 'work',
	                      :action => 'scribes_tab',
	                      :work_id => work_id }) %>
	      </li>
	    <% end %>

	    <% if selected == 8 %>
	      <li id="current">
	        <span>pages</span>
	      </li>
	    <% else %>
	      <li>
	        <%= link_to('pages',
	                    { :controller => 'work',
	                      :action => 'pages_tab',
	                      :work_id => work_id }) %>
	      </li>
	    <% end %>
    <% end %>

    <% if selected == 9 %>
      <li id="current">
        <span>help</span>
      </li>
    <% else %>
      <li>
        <%= link_to('help',
                    { :controller => 'static',
                      :action => 'transcribe_help',
                      :work_id => work_id }) %>
      </li>
    <% end %>

  </ul>
</div>
