<p id="notice"><%= notice %></p>

<p>
  <strong>Is public boolean:</strong>
  <%= @document_set.is_public_boolean %>
</p>

<p>
  <strong>Owner user:</strong>
  <%= @document_set.owner_user %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @document_set.collection %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document_set.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document_set.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @document_set.picture %>
</p>

<%= link_to 'Edit', edit_document_set_path(@document_set) %> |
<%= link_to 'Back', document_sets_path %>
