<%= form_for(@sc_collection) do |f| %>
  <%= validation_summary @sc_collection.errors %>

  <div class="field">
    <%= f.label :collection_id %><br>
    <%= f.text_field :collection_id %>
  </div>
  <div class="field">
    <%= f.label :context %><br>
    <%= f.text_field :context %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
