<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @sc_collection.label %>
</p>

<p>
  <strong>Id:</strong>
  <%= @sc_collection.at_id %>
</p>

<% if @sc_collection.service.collections.size > 0 %>
  <h4>Collections:</h4>
  
  <ul>
  	<% @sc_collection.service.collections.each do |json_collection| %>
  	  <li>
  	    <%= link_to json_collection.label, { :action => 'explore', :at_id => CGI::escape(json_collection['@id'])} %>
  	  </li>
  	<% end %>
  	
  </ul>
<% end %>

<h4>Manifests:</h4>

<ul>
    <% @sc_collection.service.manifests.each do |json_manifest| %>
      <li>
        <%= link_to(json_manifest['label'], 
        			{ :action => :explore_manifest,
    				  :at_id => CGI::escape(json_manifest['@id']), 
    				  :sc_collection_id => @sc_collection.id}) %>      	
      </li>
    <% end %>
	
</ul>


