<p id="notice"><%= notice %></p>

<p>
	Back to <%= link_to @sc_collection.label, { :action => 'explore', :sc_collection_id => @sc_collection, :at_id => @sc_collection.at_id}%>
</p>

<p>
  <strong>Manifest:</strong>
  <%= @sc_manifest.label %>
</p>

<% if @sc_manifest.service.description %>
	<p>
		<strong>Description:</strong>
		<%= @sc_manifest.service.description %>	
	</p>
<% end %>


<% if @sc_manifest.service.metadata %>
	<p>
		<strong>Metadata:</strong>
		<%= @sc_manifest.html_metadata %>
	</p>
<% end %>


<% if @sc_manifest.service.license %>
	<p>
		<strong>License:</strong>
		<%= @sc_manifest.service.license %>	
	</p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= link_to @sc_manifest.at_id, @sc_manifest.at_id %>
</p>

<%= link_to "Import", {:controller => 'sc_collections', :action => 'import_manifest', :at_id => @sc_manifest.at_id, :sc_collection_id => @sc_collection.id }, { :class => 'button outline' } %>

<h4>Canvases:</h4>

<ul>
	<% @sc_manifest.service.sequences.first.canvases.each do |json_canvas| %>
	  <li>
	    <%= link_to json_canvas.label, { :action => 'explore', :at_id => json_canvas['@id']} %>
	    <!-- <%= image_tag json_canvas.images.first.resource.service['@id'] + 'full/120,/0/native.jpg'%> -->
	  </li>
	<% end %>
	
</ul>
