<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @sc_collection.collection %>
</p>

<p>
  <strong>Context:</strong>
  <%= @sc_collection.context %>
</p>

<h4>Manifests:</h4>

<% @sc_collection.sc_manifests.each do |manifest| %>
	<%= link_to(manifest.label, sc_manifest_path(manifest)) %><br/>
<% end %>




<%= link_to 'Edit', edit_sc_collection_path(@sc_collection) %> |
<%= link_to 'Back', sc_collections_path %>
