
<%= render({ :partial => '/shared/page_tabs',
             :locals => { :selected => 5,
                          :page_id => @page.id }}) %>

<div class="two-columns">
  <div class="left-column">
    <%= render({ :partial => '/shared/page_navigation' }) %>
    <div class="inside-column">
      <p>
        Title: <span id="title_<%= @page.id %>"><%= @page.title %></span>
        <%= form_for(@page, { :url => { :action => 'upload' }, :html => {:multipart => true }}) do |f| %><br />
          Replace Image:
          <%= hidden_field_tag(:page_id, @page.id) %>
          <%= f.file_field(:base_image) %>
          <%= submit_tag('upload') %>
        <% end %>

        <% if @page.base_image != nil && @page.base_image != "" %>
          Original Dimensions:
          <%= "#{@page.base_width}x#{@page.base_height}" %>
          <br />
          Shrink Factor: <%= @page.shrink_factor %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="right-column">
    <div class="inside-column">

                <%= html_block('right') %>

      <p>
Reduced Image:
<br />
        <% if @page.base_image != nil && @page.base_image != "" %>  ( size:  <%= link_to(image_tag("/images/icons/arrow_in.png",{:border => 0}),
                    { :action => 'reduce',
                      :page_id => @page.id }) %>
  <%= link_to('reduce',
                      { :action => 'reduce',
                        :page_id => @page.id }) %>
  <% if @page.shrink_factor > 0 %>
      | <%= link_to(image_tag("/images/icons/arrow_out.png",{:border => 0}),
                       { :action => 'enlarge',
                         :page_id => @page.id }) %>
      <%= link_to('enlarge',
                    { :action => 'enlarge',
                      :page_id => @page.id }) %>
  <% end %>
  )
  (	rotate:
  <%= link_to(image_tag("/images/icons/arrow_rotate_clockwise.png",{:border => 0}),
              { :action => 'rotate',
                :page_id => @page.id,
                :orientation => 90 }) %>
  <%= link_to('clockwise',
              { :action => 'rotate',
                :page_id => @page.id,
                :orientation => 90 }) %>
  |
    <%= link_to(image_tag("/images/icons/arrow_rotate_anticlockwise.png",{:border => 0}),
              { :action => 'rotate',
                :page_id => @page.id,
                :orientation => 270 }) %>
  <%= link_to('counterclockwise',
              { :action => 'rotate',
                :page_id => @page.id,
                :orientation => 270 }) %> )
  <br />
  <%= image_tag(file_to_url(@page.scaled_image(@page.shrink_factor))) %>
<% end %>
</p>
    </div>
  </div>
</div>
