<%= render({ :partial => '/shared/work_tabs',
             :locals => { :selected => 6,
                          :work_id => @work.id }}) %>


<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <%= form_for :work, url: { action: :update } do |f| %>
	Title: <%= f.text_field :title, value: @work.title %>
	<br>
	Description: <%= f.text_field :description, value: @work.description %>
	<br>
	Owner: <%= link_to(@work.owner.display_name, { :controller => 'user', :action => 'profile', :user_id => @work.owner.id }) %>
	<br>
	Physical Description: <%= f.text_field :physical_description, value: @work.physical_description %>
	<br>
	Document History: <%= f.text_field :document_history, value: @work.document_history %>
	<br>
	Permissions: <%= f.text_field :permission_description, value: @work.permission_description %>
	<br>
	Location of Composition: <%= f.text_field :location_of_composition, value: @work.location_of_composition %>
	<br>
	Author: <%= f.text_field :author, value: @work.author %>
	<br>
	Transcription Conventions: <%= f.text_area :transcription_conventions, value: @work.transcription_conventions %>
	<br>
	<%= f.hidden_field :work_id, value: @work.id %>
	<%= f.submit %>
      <% end %>
      <br />
    </div>
  </div>
  <div class="right-column">
    <div class="inside-column">

      <%= html_block('right') %>
    </div>
  </div>
</div>
