<%= render({ :partial => '/shared/work_tabs',
             :locals => { :selected => 6,
                          :work_id => @work.id }}) %>


<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <%= form_for :work, url: { action: :update, id: @work.id } do |f| %>
	<p>
	  <%= f.label :title, style: "width: 150px; display: inline-block" %>
	  <%= f.text_field :title, value: @work.title %>
	</p>
	<p>
	  <%= f.label :description, style: "width: 150px; display: inline-block" %>
	  <%= f.text_field :description, value: @work.description %>
	</p>
	<p>
	  <%= f.label :owner, style: "width: 150px; display: inline-block" %>
	  <%= link_to(@work.owner.display_name, { :controller => 'user', :action => 'profile', :user_id => @work.owner.id }) %>
        </p>
	<p>
	  <%= f.label :physical_description, style: "width: 150px; display: inline-block" %>
	  <%= f.text_field :physical_description, value: @work.physical_description %>
	</p>
	<p>
	  <%= f.label :document_history, style: "width: 150px; display: inline-block" %>
	  <%= f.text_field :document_history, value: @work.document_history %>
	</p>
	<p>
	  <%= f.label :permission_description, style: "width: 150px; display: inline-block" %>
	  <%= f.text_field :permission_description, value: @work.permission_description %>
	</p>
	<p>
	  <%= f.label :location_of_composition, style: "width: 150px; display: inline-block" %>
	  <%= f.text_field :location_of_composition, value: @work.location_of_composition %>
	</p>
	<p>
	  <%= f.label :author, style: "width: 150px; display: inline-block" %>
	  <%= f.text_field :author, value: @work.author %>
	</p>
	<p>
	  <%= f.label :transcription_conventions %>
	  <%= f.text_area :transcription_conventions, value: @work.transcription_conventions, cols: 90, style: "width: 100%" %>
	</p>
	<%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="right-column">
    <div class="inside-column">
      <%= html_block('right') %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $( document ).ready(function() {
    $('form').areYouSure();
  });
<% end %>
