<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">


New Work<br />
<%= form_for(@work, { :url => { :action => 'create' }}) do |f| %>
  Title:
  <%= f.text_field :title %>
  <br />
  Description (optional):
  <%= f.text_field :description %>
  <br />
  <%= submit_tag('Create') %>
<% end %>


   </div>
  </div>
  <div class="right-column">
        <div class="inside-column">
                <%= html_block('right') %>
        </div>
  </div>
</div>
