<% form_tag( {:action => 'date_format_process'} ) do %>

	<%= hidden_field_tag('image_set_id', @image_set.id) %>
    <% if flash['error'] %>
      <div style="color: red"><%= flash['error'] %></div>
    <% end %>

    <p><%= image_tag(file_to_url(@image_set.sample_image.crop_file)) %></p>


    <p>Enter a format string to be used for your dates
    </p>

    <p><label for="directory">Format String:</label><br/>
    <%= text_field_tag :date_format_string, nil, :size => 60, :maxlength => 256 %></p>

        <%= observe_field(:date_format_string,
                 :frequency => 1,
                 :update => "test_date",
                 :with => 'date_format_string',
                 :url => { :action => "date_format_ajax_test" }) %>
 
    <p id="test_date"></p>

<table valign="top" border="1">
    <tr>
        <th>Unit</th>
        <th>Code</th>
        <th>Explanation</th>
    </tr>
    <tr>
        <td rowspan="2">Year</td>
        <td><b>%Y</b></td>
        <td>Display the year in four digits, including the century (1984 or 2006)</td>
    </tr>
    <tr>
        <td><b>%y</b></td>
        <td>Display the year in two digits, without a century (84 or 06)</td>
    </tr>
    <tr>
        <td rowspan="3">Month</td>
        <td><b>%B</b></td>
        <td>Display the full month name (&quot;January&quot;)</td>
    </tr>
    <tr>
        <td><b>%b</b></td>
        <td>Abbreviate the month name to three letters (&quot;Jan&quot;)</td>
    </tr>
    <tr>
        <td><b>%m</b></td>
        <td>Display the month of the in two digits (&quot;01&quot;)</td>
    </tr>
    <tr>
        <td rowspan="2">Day of the Month</td>
        <td><b>%e</b>
        <td>Show the day of the month (&quot;3&quot;)
    </tr>
    <tr>
        <td><b>%d</b>
        <td>Show the day of the month in two digits (&quot;03&quot;)
    </tr>
    <tr>
        <td rowspan="2">Day of the Week</td>
        <td><b>%A</b></td>
        <td>Display the full weekday name (&quot;Sunday&quot;)</td>
    </tr>
    <tr>
        <td><b>%a</b></td>
        <td>Display an abbreviation of the weekday name (Sun)</td>
    </tr>
    <tr>
        <td colspan="3">For more formatting codes, see <a href="http://www.rubycentral.com/book/ref_c_time.html#Time.strftime">this website</a></td>
    </tr>
</table>



    <p><%= submit_tag 'Next' %></p>
<% end %>