<% form_tag( {:action => 'number_format_process'} ) do %>
 
	<%= hidden_field_tag('image_set_id', @image_set.id) %>
   <p>We will auto-generate page numbers for you.  Should we start
       with numeric numbers, or with dates?
    </p>
    <p><%= image_tag(file_to_url(@image_set.sample_image.crop_file)) %></p>
    
    <%= hidden_field_tag 'format', "Date"  %>

    <p>Are the pages you uploaded sequential, odd-numbered or even-numbered?
    </p>
    <p><label for="format">Interval:</label><br/>
    <%= select_tag 'interval', "<option>Sequential</option><option>Every-other-page</option>"  %></p>

    <p><%= submit_tag 'Next' %></p>
<% end %>