
<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			<!-- page navigation -- collection tab -->
            <%= html_block('left') %>
			<!-- work stats for this collection -->
			Total images = <%= @total_images%><br />
			Rotated images = <%= @rotated_images%>
			
			<div style="width:<%=@total_images%>px;height:10px;border:1px solid black;" >
				<div style="float:left;valign:bottom;background-color:#32CD32;background-repeat:repeat;width:<%=((@rotated_images.to_f/@total_images)*100).to_i%>%;height:10px;">
				</div>
			</div>
			 <br />
			Shrunk images = <%= @shrunk_images %> <br />
			<div style="width:<%=@total_images*@image_set.original_to_base_halvings%>px;height:10px;border:1px solid black;" >
				<div style="float:left;valign:bottom;background-color:#32CD32;background-repeat:repeat;width:<%=((@shrunk_images.to_f/@total_images)*100).to_i%>%;height:10px;">
				</div>
			</div>
			Cropped images = <%= @cropped_images%><br />	
			<div style="width:<%=@total_images%>px;height:10px;border:1px solid black;" >
				<div style="float:left;valign:bottom;background-color:#32CD32;background-repeat:repeat;width:<%=((@cropped_images.to_f/@total_images)*100).to_i%>%;height:10px;">
				</div>
			</div>
		</div>
		<div class="inside-column">
			<%= @image_set.step %>
			<%= @image_set.status %>
			<%= @rotate_process_count %>
			<%= @shrink_process_count %>
			<%= @crop_process_count %>
			<% if @image_set.status == ImageSet::STATUS_RUNNING %>
				<% if @shrink_process_count + @rotate_process_count + @crop_process_count == 0 %>
					<p>
						<b>Warning: the application thinks a process is running, but we can't find it!</b><br>
						<%= button_to("Restart", {:action => 'restart', :image_set_id => @image_set.id } )%>
					</p>			
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="right-column">
		<div class="inside-column">
			<%= debug @image_set %>
		</div>
	</div>
</div>
