
<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			<!-- page navigation -- collection tab -->
            <%= html_block('left') %>
			<p>
				This is the size of the page that will be shown to transcribers when they first see the page.  
				The text should be mostly legible, but the image should be small enough to fit on the screen without
				much scrolling.
			</p>
			<p>
				<% form_tag({:action => 'size_process'}) do %>				
					<%= hidden_field_tag('image_set_id', @image_set.id) %>
					<%= radio_button_tag('size', 'just_right')%>
					<%= label('size', 'just_right', "This is just right") %><br />
					<br />
					<% if @image_set.original_to_base_halvings > 0 %>
						<%= radio_button_tag('size', 'too_small')%>
						<%= label('size', 'too_small', "This is too small to read") %><br />
					<% end %>
					<%= radio_button_tag('size', 'too_big')%>
					<%= label('size', 'too_big', "This is too big") %><br />
					<br />
					<%= submit_tag 'Update' %>
				<% end%>
			</p>
		</div>
	</div>
	<div class="right-column">
		<div class="inside-column">
			<%= image_tag(file_to_url(@image_set.sample_image.shrunk_file)) %>
		</div>
	</div>
</div>
