<%= render({ :partial => '/shared/article_tabs',
             :locals => { :selected =>4,
                          :article_id => @article.id }}) %>


<div class="two-columns">
  <div class="left-column">
    <% if @preview_xml  %>
  		<div class="inside-column">
        <%= xml_to_html(@preview_xml) %>
  		</div>
    <% end %>
    <div class="inside-column">

      <div id="article_edit_area">
        <%= form_for(@article, :url => { :action => 'update' }) do |f| %>
	<% logger.debug "@article.errors is a #{@article.errors.class}" %>
          <!-- % @article.errors.each_full do |msg| % -->
	  <% @article.errors.full_messages do |msg| %>
            <%= msg %><br />
          <% end %>

          <%= hidden_field_tag(:article_id, @article.id) %>
          Title: <%= f.text_field :title %><br />
          Article:<br />
          <%= f.text_area :source_text %><br />
		    <%= submit_tag "Preview", :name => 'preview' %>
          <%= submit_tag "Autolink", :name => 'autolink' %>
          <%= submit_tag "Save", :name => 'save' %>
        <% end %>
				<%= render({ :partial => 'shared/markup_help'}) %>
      </div>

    </div>
  </div>
  <div class="right-column">
     <div class="inside-column">
          <%= html_block('right') %>
     </div>
     <div class="inside-column">

			<%= render({ :partial => 'article_categories',
			             :locals => { :article => @article }}) %>
	  </div>
  </div>
</div>

