<%= render( :partial => '/shared/article_tabs',
            :locals => { :selected => 1,
                         :article_id => @article.id }) %>

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <span class="left-link">
	      <%= link_to("subjects", 
	                  {:controller => 'article',
	                   :action => 'list',
                                :collection_id => @article.collection_id,
 		                 :ol => 'a_art_articles' }) %>
       </span>
    </div>
    <div class="inside-column">
      <h2><%= @article.title %></h2>
    </div>

    <div id="article_display_area" class="inside-column">
		  <% if @article.xml_text != nil && !@article.xml_text.empty? %>
		    <%= xml_to_html(@article.xml_text) %>
		  <% else %>
		    <i>No Contents Provided</i>
		  <% end %>
	</div>
	<% if logged_in? %>
		<div class="inside-column">
			<h3>Possible Duplicates</h3>
			<p>
				<% @article.possible_duplicates.each do |dup| %>
					<%= link_to(dup.title, :article_id => dup.id) %>
					<i><%= button_to("Combine",
									{ :action => 'combine_duplicate',
									  :from_article_id => dup.id,
									  :article_id => @article.id},
									{ :title => "Combines #{dup.title} into #{@article.title}",
										:confirm => "Are you sure you want to delete #{dup.title} and change all links to point to #{@article.title}?"})%>
									</i>
									  
				  <br />
				<% end %>
			</p>
		</div>
	<% end %>
  </div>
		
  <div class="right-column">
  		<% unless html_block('right').blank? %>
        <div class="inside-column">
              <%= html_block('right') %>
        </div>
		<% end %>
    <div class="inside-column">
	  <h3>Categories</h3>
      <ul>
      	<% for cat in @article.categories %>
	      	<li>
	      		<%= cat.title %>
	      	</li>
		<% end %>
      </ul>
    </div>
	<div class="inside-column">
		  <h3>References</h3>
		  <p>
		    Search the text for:<br />
        <%=link_to("All references to #{@article.title}",
                   { :controller => 'display',
                     :action => 'search',
                     :article_id => @article.id }) %>
                     </br>
  <%= link_to("All references to <i>#{@article.title}</i> in pages that do not link to this subject",
              :controller => 'display',
              :action => 'search',
              :article_id => @article.id,
              :unlinked_only => true) %>
		  </p>
    </div>
    <%= render :partial => 'article_links' %>

  </div>
</div>
		