<% unless @edition_type == 'text_only'%>

<%= @work.title %> {.work-title}
=======================


\newpage

<% if @include_metadata %>
### Metadata
<p>
<%= t('export.facing_edition.export_metadata', work: @work.title, collection: @work.collection.title, time: Time.now) %>
</p>

<% 
  xml_metadata = @work.merge_metadata.map{|e| "#{e['label']}: #{e['value']}"}.join("<lb/>\n")
%>
<%= raw(xml_to_pandoc_md("<p>#{xml_metadata}</p>", true, true, nil, false)) %>
\newpage
<% end %>

<% end %>

<% @work.pages.includes(:notes, :ia_leaf, :sc_canvas).each do |page| %>

<% if @edition_type == 'facing'%>
\newpage
  <% if @work.sc_manifest %>
![<%= page.title %>](<%= page.sc_canvas.sc_resource_id %>)
  <% elsif page.ia_leaf %>
![<%= page.title %>](<%= page.ia_leaf.facsimile_url %>)
  <% else %>
![<%= page.title %>](<%= main_app.root_url %><%= file_to_url(page.canonical_facsimile_url) %>)
  <% end %>
\newpage
<% end %>

### <%= page.title %>
<% if page.status != Page::STATUS_BLANK %>
<%= raw(xml_to_pandoc_md(page.xml_text, @preserve_linebreaks, true)) %>
<% end %>

<% if @work.supports_translation && !page.xml_translation.blank?%>
### <%= page.title %>
<%= raw(xml_to_pandoc_md(page.xml_translation, @preserve_linebreaks, true)) %>
<% end %>

<% end %>

<% if @edition_type != 'text_only' && @include_contributors %>

\newpage
<%= t('export.facing_edition.contributions_message') %>

<% contributor_ids = @work.deeds.group(:user_id).count.sort{|a,b| b[1] <=> a[1]}.map{|e| e[0]} %>
<% contributor_names = [] %>
<% contributor_ids.each do |user_id| %>
  <% user = User.find(user_id) 
    if user.real_name.blank?
      name = user.display_name
    else
      name = user.real_name
    end
    contributor_names << name unless name.blank?
  %>
<% end %>

<% if contributor_names.size > 1 %>
  <%= contributor_names[0..-2].join(', ') %> and <%= contributor_names.last %>
<% else %>
  <%= contributor_names.first %>
<% end %>
<% end %>