<%= @work.title %> {.work-title}
=======================

<%= t('.export_metadata', work: @work.title, collection: @work.collection.title, time: Time.now) %>

<% @work.pages.includes(:notes, :ia_leaf, :sc_canvas).each do |page| %>

<% unless @edition_type == 'text'%>
\newpage
  <% if @work.sc_manifest %>
![<%= page.title %>](<%= page.sc_canvas.sc_resource_id %>)
  <% elsif page.ia_leaf %>
![<%= page.title %>](<%= page.ia_leaf.facsimile_url %>)
  <% else %>
![<%= page.title %>](<%= root_url %><%= file_to_url(page.canonical_facsimile_url) %>)
  <% end %>
\newpage
<% end %>

### <%= page.title %>
<div class="page-content">
  <%= raw(xml_to_pandoc_md(page.xml_text, @edition_type!='text', true)) %>
</div>

<% end %>
