<h2 class="work-title">
  <%= @work.title %>
</h2>

<div class="export-metadata">
	FromThePage export of <%= @work.title %> from <%= @collection.title %> made on <%= Time.now %>. 	
</div>	

<h3 class="divider">
  Page Transcripts
</h3>

<div class="pages">
  <% @work.pages.each do |page| %>
	<div id="page-<%=page.id%>">
		<h4>
			<%= page.title %>
		</h4>
		<div class="page-content">
			<%= xml_to_html(page.xml_text, true, true)%>
		</div>
   		<div class="page-history">
		 <% for version in page.page_versions %>
		   <span class="page-version-username">
			 <%= version.user.display_name %>
		   </span>
		   <span class="page-version-date">
		     <%= version.created_on.strftime("%m/%d/%Y %I:%M %p")  %>
		   </span>
		   <br />
		 <% end %>
		</div>

	</div>
   <!-- page edit history here -->

  <% end %>
</div>

<h3 class="divider">
  Subjects and Indices
</h3>

<div class="subjects">
  <% @work.articles.sort{ |x,y| x.title.upcase <=> y.title.upcase }.each do |article|%>
	<div id="article-<%=article.id%>">
		<h4 class="article-title">
			<%=article.title%>
		</h4>
		<div class="article-content">
			<%= xml_to_html(article.xml_text) %>
		</div>
		<div class="article-indices">
			<% article.pages.each do |entry| %>
			  <% if entry.work_id == @work.id %>
			    <%= link_to(entry.title, "#page-#{entry.id}") %><br />
			  <% end %>
			<% end %>
		</div>
        <!-- categorization here -->
        <!-- subject article edit history here -->
	</div>
  <% end %>
</div>
<!-- edit history for work here -->
