<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.tei-c.org/ns/1.0 http://www.tei-c.org/release/xml/tei/custom/schema/xsd/tei_all.xsd"
xml:lang="EN"
xml:id="export">

<teiHeader>
  <fileDesc>
    <titleStmt>
      <title type="full">
        <title type="main"><%= @work.title %></title>
        <title type="desc"><%= @work.description %></title>
      </title>
      <author>
        <persName><%= @work.author %></persName>
      </author>
    </titleStmt>

    <editionStmt>
      <edition><%= t('export.tei.edition_created') %></edition>
      <respStmt xml:id="AU<%= @work.owner.id%>">
        <resp><%= t('export.tei.initial_upload') %></resp>
        <persName><%= @work.owner.real_name%></persName>
      </respStmt>

      <respStmt xml:id="OU<%= @collection.owner.id%>">
        <resp><%= t('export.tei.administrator', collection: @collection.title) %></resp>
        <persName><%= @collection.owner.real_name %></persName>
      </respStmt>

      <% @user_contributions.each do |user| %>
        <respStmt xml:id="U<%= user[:user_id]%>">
          <persName
            <% if user[:real_name].blank? %>
              type="pseudonym"
            <% end %>
            >
            <%= user.real_name.blank? ? user.display_name : user.real_name %>
            </persName>
          <% if user[:edit_count] == 1 %>
            <resp>
              <%= t('export.tei.made_one_edit_on') %>
              <date type="only_edit" when="<%= user[:first_edit].iso8601 %>"><%= user[:first_edit].strftime("%B %e, %Y") %></date>.
            </resp>
          <% else %>
            <resp>
              <%= t('export.tei.made_edits_between', count: user[:edit_count]) %>
              <date type="first_edit" when="<%= user[:first_edit].iso8601 %>"><%= user[:first_edit].strftime("%B %e, %Y") %></date> and
              <date type="last_edit" when="<%= user[:last_edit].iso8601 %>"><%= user[:last_edit].strftime("%B %e, %Y") %></date>.
            </resp>
          <% end %>
        </respStmt>
      <% end %>

      <% if @work.deeds.where(deed_type: DeedType::PAGE_REVIEWED).present? %>
        <% User.find(@work.deeds.where(deed_type: DeedType::PAGE_REVIEWED).pluck(:user_id)).each do |user| %>
          <respStmt xml:id="U<%= user.id %>">
            <resp n="proof_1"><%= t('export.tei.single_proof_by') %></resp>
            <name><%= user.real_name || user.display_name %></name>
          </respStmt>
        <%end%>
      <%end%>

      <% if @export_user %>
        <respStmt xml:id="OU<%= @export_user.id%>">
          <resp n="proof_2"><%= t('export.tei.double_proof_by') %></resp>
          <persName><%= @export_user.real_name %></persName>
        </respStmt>
      <% end %>

    </editionStmt>

    <publicationStmt>
    <publisher><%= t('export.tei.dynamic_tei_export', version: fromthepage_version) %></publisher>
      <availability>
        <p><%= @work.permission_description %></p>
      </availability>
      <date when="<%= Time.now.iso8601 %>"><%= Time.now.strftime("%B %e, %Y") %></date>
    </publicationStmt>

    <sourceDesc>
      <msDesc>
        <msIdentifier>
          <% unless @work.source_location.blank? %>
            <repository><%=@work.source_location%></repository>
          <% end %>
          <% if @work.source_collection_name.blank? %>
            <collection><%= @collection.title %></collection>
          <% else %>
            <collection><%= @work.source_collection_name %></collection>
          <% end %>
          <% unless @work.identifier.blank? %>
            <idno><%=@work.identifier%></idno>
          <% end %>
          <% unless @work.source_box_folder.blank? %>
            <idno><%=@work.source_box_folder%></idno>
          <% end %>
        </msIdentifier>
        <physDesc>
          <p><%= @work.physical_description%></p>
        </physDesc>
        <history>
          <origin>
            <placeName><%= @work.location_of_composition %></placeName>
          </origin>
          <provenance><%= @work.document_history %></provenance>
        </history>
      </msDesc>

      <% unless @person_articles.empty? %>
        <listPerson>
          <% @person_articles.each do |person| %>
            <person xml:id="S<%=person.id%>">
              <persName><%= person.title %></persName>
              <% unless person.uri.blank? %>
                <idno><%= person.uri %></idno>
              <% end %>
              <% if person.categories %>
                <note type="categorization">
                  Categories:
                  <% person.categories.each do |category| %>
                    <ab>
                      <% category.ancestors.reverse.each do |parent| %>
                        <%  if parent.root?
                              category_class = "#category #root"
                            else
                              category_class = "#category #branch"
                            end
                        %>
                        <ptr ana="<%= category_class %>" target="#C<%= parent.id %>"><%= parent.title %></ptr> --
                      <% end %>
                      <ptr ana="#category #leaf<%= ' #root' if category.root? %>" target="#C<%= category.id %>"><%= category.title %></ptr>
                    </ab>
                  <% end %>
                </note>
              <% end %>
              <% unless person.source_text.blank? %>
                <note type="article">
                  <% unless person.source_text.blank? %>
                    <%= raw(xml_to_export_tei(person.xml_text, @context, "S#{person.id}")) %>
                  <% end %>
                </note>
              <% end %>
            </person>
          <% end %>
        </listPerson>
      <% end %>

      <% unless @place_articles.empty? %>
        <listPlace>
          <% @place_articles.each do |place| %>
            <place xml:id="S<%=place.id%>">
              <placeName><%= place.title %></placeName>
              <% unless place.uri.blank? %>
                <idno><%= place.uri %></idno>
              <% end %>
              <% if place.categories %>
                <note type="categorization">
                  Categories:
                  <% place.categories.each do |category| %>
                    <ab>
                      <% category.ancestors.reverse.each do |parent| %>
                        <%  if parent.root?
                              category_class = "#category #root"
                            else
                              category_class = "#category #branch"
                            end
                        %>
                        <ptr ana="<%= category_class %>" target="#C<%= parent.id %>"><%= parent.title %></ptr> --
                      <% end %>
                      <ptr ana="#category #leaf<%= ' #root' if category.root? %>" target="#C<%= category.id %>"><%= category.title %></ptr>
                    </ab>
                  <% end %>
                </note>
              <% end %>
              <% unless place.source_text.blank? %>
                <note type="article">
                  <% unless place.source_text.blank? %>
                    <%= raw(xml_to_export_tei(place.xml_text, @context, "S#{place.id}")) %>
                  <% end %>
                </note>
              <% end %>
              <% unless place.latitude.blank? %>
                <note type="geography">
                  <geo><%= place.latitude %>, <%= place.longitude %></geo>
                </note>
              <% end %>
            </place>
          <% end %>
        </listPlace>
      <% end %>
    </sourceDesc>

  </fileDesc>

  <% unless @other_articles.empty? %>
    <encodingDesc>
      <classDecl>
        <%= raw(tei_taxonomy(@collection.categories.where("parent_id IS NULL"), @other_articles)) %>
      </classDecl>
    </encodingDesc>
  <% end %>


  <profileDesc>
    <% unless @work.recipient.blank? %>
      <correspDesc>
        <correspAction type="sent">
          <persName><%= @work.author %></persName>
        </correspAction>
        <correspAction type="received">
          <persName><%= @work.recipient %></persName>
        </correspAction>
      </correspDesc>
    <% end %>

    <% unless @work.location_of_composition.blank? && @work.document_date.blank? %>
      <creation>
        <% unless @work.location_of_composition.blank? %>
          <placeName><%= @work.location_of_composition %></placeName>
        <% end %>
        <% unless @work.document_date.blank? %>
          <date when="<%= @work.document_date %>"><%= @work.document_date %></date>
        <% end %>
      </creation>
    <% end %>

    <% unless @work.genre.blank? %>
     <textClass>
      <keywords>
       <term type="genre"><%= @work.genre %></term>
      </keywords>
     </textClass>
    <% end %>

    <%unless @work.collection.text_language.blank?%>
      <%code = @work.collection.text_language%>
      <langUsage>
        <language ident="<%=code%>"><%=ISO_639.find_by_code(code).english_name%></language>
      </langUsage>
    <%end%>
  </profileDesc>
  <% unless @work.original_metadata.blank? && @work.metadata_description.blank? %>
    <xenoData>
      <iiifMetadata>
        <% unless @work.original_metadata.blank? %>
          <% JSON[@work.original_metadata].each do |element| %>
            <element source="imported">
              <label><%= element["label"] %></label>
              <value><%= element["value"] %></value>
            </element>
          <% end %>
        <% end %>
        <% unless @work.metadata_description.blank? %>
          <% JSON[@work.metadata_description].each do |element| %>
            <element source="user-created">
              <label><%= element["label"] %></label>
              <value><%= element["value"] %></value>
            </element>
          <% end %>
        <% end %>
      </iiifMetadata>
    </xenoData>
  <% end %>

  <revisionDesc>
    <listChange ordered="true">
      <% @work_versions.each do |page_version| %>
        <change xml:id="CHG<%= page_version.work_version %>" who="U<%= page_version.user_id %>" when="<%= page_version.created_on.iso8601 %>" target="#P<%= page_version.page_id %>">
          Version <%= page_version.page_version %> of page "<%= page_version.page.title %>":
          <% if page_version.transcription.blank? %>
            <%= t('export.tei.empty_transcript') %>
          <% else %>
            <%= t('export.tei.changes_to_page_transcript') %>
          <% end%>
        </change>
      <% end %>
    </listChange>
  </revisionDesc>
</teiHeader>

<text>
  <body>
    <% @context.translation_mode = false %>
    <% if @work.supports_translation? %>
      <div xml:id="original">
        <% @work.pages.includes(:notes, :ia_leaf, :sc_canvas).each do |page| %>
        <% if @work.sc_manifest %>
          <pb xml:id="FO<%=page.id%>" n="<%=page.position%>" facs="<%= page.sc_canvas.sc_resource_id %>"/>
        <% else %>
          <pb xml:id="FO<%=page.id%>" n="<%=page.position%>" facs="<%= "#{root_url}image-service/#{page.id}/full/full/0/default.jpg" %>"/>
        <% end %>
        <% if @work.pages_are_meaningful? %>
          <div xml:id="<%=page_id_to_xml_id(page.id, @context.translation_mode)%>">
        <% end%>
          <fw type="pageNum"><%= page.title %></fw>
          <% unless page.status_blank? %>
            <%= raw(xml_to_export_tei(page.xml_text, @context, page.id, true))%>
          <% end %>
          <% notes = page.notes %>
          <% if notes && notes.length > 0 %>
            <% notes.each do |note| %>
              <note type='comment' resp="#U<%= note.user_id %>"><%= note.body %></note>
            <% end %>
          <% end %>
        <% if @work.pages_are_meaningful? %>
          </div>
        <% end%>
        <% end %>
      </div>
      <div xml:id="translation">
        <% @context.translation_mode = true %>
        <% @work.pages.includes(:notes, :ia_leaf).each do |page| %>
          <pb xml:id="FT<%=page.id%>" n="<%=page.position%>" facs="<%= page.image_url_for_download %>"/>
        <% if @work.pages_are_meaningful? %>
          <div xml:id="<%=page_id_to_xml_id(page.id, @context.translation_mode)%>">
        <% end%>
          <fw type="pageNum"><%= page.title %></fw>
          <%= raw(xml_to_export_tei(page.xml_translation, @context, page.id, true))%>
        <% if @work.pages_are_meaningful? %>
          </div>
        <% end%>
        <% end %>
      </div>
    <% else %>
      <% @work.pages.includes(:notes, :ia_leaf, :sc_canvas).each do |page| %>
        <pb xml:id="F<%=page.id%>" n="<%=page.position%>" facs="<%= page.image_url_for_download %>"/>
      <% if @work.pages_are_meaningful? %>
        <div xml:id="<%=page_id_to_xml_id(page.id, @context.translation_mode)%>">
      <% end%>
        <fw type="pageNum"><%= page.title %></fw>
        <% unless page.status_blank? %>
          <%= raw(xml_to_export_tei(page.xml_text, @context, page.id, true))%>
        <% end %>
        <% notes = page.notes %>
        <% if notes && notes.length > 0 %>
          <% notes.each do |note| %>
            <note resp="#U<%= note.user_id %>"><%= note.body %></note>
          <% end %>
        <% end %>
      <% if @work.pages_are_meaningful? %>
        </div>
      <% end%>
      <% end %>
    <% end %>
  </body>
</text>
</TEI>
