<%= render "shared/landingheader" %>
<body>
    <%= render "shared/landingbodyheader" %>

    <!-- Home Main -->
    <section class="home-main">
        <!-- <%= image_tag("materials/main-bg.png") %> -->

        <div class="text">
            <h2 data-aos="zoom-in" data-aos-duration="800">Transcription for Digital Scholarship</h2>
            <p data-aos="zoom-in" data-aos-duration="900">Empowering Digital Scholarship & Classroom Pedagogy — Collaborative Transcription On An Intuitive Easy-To-Use Platform</p>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <%= image_tag("materials/transcription-digital-main.png", class: 'main-img')%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Main End -->

    <!-- Crowd Digitized -->
    <section class="crowd-digitized">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Are you looking for a digital tool to facilitate collaborative scholarship with primary textual sources?</h4>
                        <p>Engage researchers and students with a simple, customizable tool to create and proof high-quality transcriptions</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <p>Speak directly with the creators and learn how FromThePage can help you establish a digital space to transcribe primary source documents</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <p>Free customized walkthrough of the exact features that facilitate robust transcriptions for research, pedagogy, and creating ADA accessible materials</p>
                            </div>
                        </div>
                    </div>

                    <div class="alt-title">
                        <h4>Leverage collections for teaching & research  — Let us show you how!</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Digitized End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2 class="title">Having documents transcribed enables larger-scale data exploration of the primary sources and student use of archival collections in an intellectually rigorous way</h2>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Like many archives at the university level, we are eager for students to use archival collections in an intellectually rigorous way. Students and alumni find that crowdsourcing transcription is fun and interesting, as well as academically substantive. Having the documents transcribed enables us to ask different questions and to automate larger-scale data exploration of the primary sources. FromThePage is such a feature-rich, easy-to-use platform that using it for archival records about early Chinese students has been a worthwhile, key phase of our larger project. We have been so fortunate to have FromThePage to keep people engaged with the archives remotely during the pandemic. It is a very intuitive platform for archives and volunteers.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Paige Roberts</h4>
                                        <span>Director of Archives and Special Collections at Phillips Academy in Andover, Massachusetts</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Logos -->
    <section class="crowd-logos">
        <div class="container">
            <h2 class="title">Our software has been trusted by faculty and librarians at these institutions:</h2>

            <%= image_tag("materials/transcription-digital-logos.png") %>
        </div>
    </section>
    <!-- Crowd Logos End -->

    <!-- Crowd Banner -->
    <section class="crowd-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="item">
                        <h4>Designed for collaborative digital scholarship</h4>
                        <p>Helping digital humanists turn original documents into datasets</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>No Long Learning Curves</h4>
                        <p>Simple interface for project owners to review and control access; transcribers just type what they see in the provided source image</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Collaborate easily</h4>
                        <p>Scholars from around the world can transcribe, translate, and annotate; students can collaborate with comments, revisions and page versions</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Flexible export options</h4>
                        <p>Export in Word, PDF, TEI-XML, static sites, plaintext, or spreadsheets for text mining, visualization, and reuse in scholarly publications</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Banner End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials mt100">
        <div class="container">
            <div class="second-title">
                <h4>See What FromThePage Has Done For These Scholars</h4>
                <p>Incredibly useful in cultivating community engagement, developing research initiatives, and enhancing collection accessibility</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="loop">
                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>With all of its features, FromThePage has proven to be incredibly useful for us in cultivating community engagement, developing research initiatives, and enhancing collection accessibility. This is primarily due to the customization the platform enables. On the one hand, project contributors have the ability to reconfigure with relative ease their workspace and workflows, such as using dictation to transcribe. On the project management side, the import and export features being designed and deployed as part of the NEH-funded work with UT Libraries will greatly facilitate the movement of collections between our institutional repositories and the platform to expedite access and preserve citizen scholarship.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Allyssa Guzman</h4>
                                        <span>Digital Scholarship Librarian at the University of Texas at Austin Libraries & Albert Palacios, Digital Scholarship Coordinator at the University of Texas for the LLILAS Benson Latin American Studies and Collections</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>My experience has been resoundingly positive. Since the very first day we uploaded our documents to the website, we’ve had volunteers from around the globe dive into the project. Additionally, using FromThePage provides a centralized place where I can send volunteers who are interested in transcribing, where I can answer questions quickly and easily, and where I can track progress on the project. Previously, I had been emailing chunks of records to people who were interested in transcribing, which was an extremely inefficient, difficult to track, and overly stressful method. Using FromThePage has streamlined my entire operation and greatly improved the quality and speed of our transcriptions.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Dr. Camille Westmont</h4>
                                        <span>Visiting Professor of History at Sewanee: The University of the South</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>We wanted to enrich our digitized collections, improving both the searchability and the accessibility of our records; a notoriously difficult thing for most archives to do, but here we have a way forward to address accessibility issues, and have full text available for screen readers. From an administrator's perspective, this had to be one of the easiest platforms to start up. It took all of 10-20 minutes to get our account and project started, and our transcriber managed to transcribe 20 pages before the end of the first day! Honestly, the barrier-to-entry is almost non-existent, volunteers significantly improve the accessibility of our holdings, and the rewards can be seen almost immediately.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Heather Home</h4>
                                        <span>Public Services and Private Records Archivist at Queen’s University Archives</span>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Increase -->
    <section class="crowd-increase">
        <div class="container">
            <h2 class="title">Let Scholarship Be The Focus, Not A Complicated Platform</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Collaborate with ease</h4>
                                <p>Whether you want to export transcriptions for scholarly research or promote primary document literacy amongst the student body, we provide a platform to track, control, oversee, and review projects painlessly.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Get Real Live Human Support</h4>
                                <p>Always get your questions answered by us directly, the developers of the software. That way you get the support and help you need faster, with no extra steps.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Protect your time with simple, intuitive tools</h4>
                                <p>There’s no reason to struggle through a complex set of tools that make no sense for your primary source materials. Streamlined, intuitive tools for your specific needs can be customized to make work easier for you and students or research collaborators.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Secure customized support for your needs</h4>
                                <p>We have experience advising many institutions how to use our wealth of tools for their specific materials, even if it’s a little out of the box. If you have a unique need, we are passionate about helping you meet it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Increase End -->

    <!-- Crowd Revulationize -->
    <section class="crowd-revulationize">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Interested in ideas on how to use this tool in the classroom</h4>
                        <p>There are so many options… Facilitate a deep reading of primary sources with simply having students transcribe sources. Have students index people, places, and topics in the transcribed text, then write short articles about the indexed terms. Teach text encoding  through marking up text using TEI tags in our advanced editor. Have students transcribe a page and then translate it. Explore texts with our integrations with Voyant or WordTrees, or export text to use other digital humanities tools.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Revulationize End -->

    <!-- Crowd Ready -->
    <section class="crowd-ready">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Ready for a flexible platform to simplify transcriptions for research or teaching with primary sources?</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>

                    <div class="text">
                        <h4>The Perfect Software Solution To Transcribe Digitized Collection Content</h4>
                        <p>With our custom demo of the software we show you how FromThePage can be configured to accomplish your specific goals with your actual materials. One way we do this is by sharing case studies of other users to show how our features can support your transcription needs in a variety of ways. <br> <br> The following features are especially relevant and utilized by digital humanities faculty and librarians, researchers, and instructors:</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Crowdsourced & Collaborative Transcription & Translation.</h4>
                                    <p>Support your
                                        programming with an online component of public engagement of transcription and
                                        translation of primary source materials.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Deep Zoom.</h4>
                                    <p>Collaborators can zoom to decipher difficult handwriting on
                                        uploaded documents.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Collaboration.</h4>
                                    <p>Page level comments and discussion create a rich
                                        experience for transcribers to become more knowledgeable and precise over-time.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Version Control & Track Changes.</h4>
                                    <p>Tools to oversee, track, control, and
                                        review projects so you can maintain high-quality contributions.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Configurable Fields.</h4>
                                    <p>Field-based transcription to support pre-printed
                                        forms allows transcription of structured data from index cards, government forms,
                                        spreadsheets, and questionnaires.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Metadata Creation Via Custom Forms.</h4>
                                    <p>Standardized metadata fields can be
                                        created so that users can create item-level metadata.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Private Projects.</h4>
                                    <p>Project owners can grant access to specific people
                                        only if they wish. This can restrict access to projects to only staff members, members
                                        of a research group, or members of indigenous or descendant communities.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>OCR Correction.</h4>
                                    <p>Review of an OCR text compared to the original source
                                        document allows for human corrected transcriptions.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Indexing & Annotation.</h4>
                                    <p>Users may tag subjects like toponyms or personal
                                        names, automatically creating an index in the text, preserving variant phrases or
                                        spellings used to refer to the same subject.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Integration Via IIIF & CONTENTdm.</h4>
                                    <p>Import options to load collections
                                        and associated metadata as simply as entering URLs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Ready End -->

    <!-- Crowd Accordion -->
    <section class="crowd-accordion">
        <div class="container">
            <h2 class="title">Simplify Collaborative Transcription</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Uncertain if your students can read historic writing styles?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>With cursive rarely being taught in schools, there may be a learning curve for students not exposed to documents from the 20th century or earlier. Consider providing a tutorial on the basics of the script and writing style of your materials. Also, working together to puzzle through a page of material as a class or pairing students up can be helpful. There is always the option to utilize historical typewritten sources as well. <br> <br> We are happy to provide advice and resources to aid students in acquiring the skill to read unfamiliar scripts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Apprehensive about the time required to manage projects?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You can upload documents in small amounts over time; the work is all defined by your project goals and timeline. Other users can be promoted to reviewer, meaning your time doesn’t need to be monopolized by review of transcriptions. Keeping tabs on work is very easy as well; our nightly activity reports show you progress in your inbox every morning. <br> <br> The extensive list of projects we’ve consulted on allows us to make suggestions to ensure you will be successful and our platform will not take excess time and effort on your part.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Worried institution leaders won’t understand the investment?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can help. Evidence of successful past uses show this software will radically increase the usability of primary source documents enabling digital scholarship research initiatives and education with historic materials. This creates opportunities for enhancing collection accessibility for interoperability and supporting digital preservation. <br> <br> We show examples of the variety of these outcomes in our case study highlights below.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Think you might need a grant for funding?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We’ve worked in research computing for the humanities and social sciences, so we can advise on what helps make grant applications more compelling. <br> <br> The information we can provide to reinforce your application includes similar case studies to show how FromThePage enables collaboration on digital humanities projects and how it’s benefited many others. <br> <br> We go so far as to help with Letters of Support and Budget Line item breakdowns so including FromThePage in your grant applications is seamless.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Disappointed by previous software experiences?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>After our custom demo call, if it doesn’t seem like a good fit, we can recommend different approaches, other collaborators, or other platforms if they’re more appropriate — we really don’t want you to use our software if it’s wrong for your needs.  <br> <br> We will support you however we can in charting your path to reach your goals.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Worried FromThePage won’t work for your specific scenario?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can share examples of other institutions with similar goals and their successful uses. This allows us to strategize with you on how best to tackle your particular materials and gives you an idea of the vast variety of projects we’ve supported.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Concerned you won’t have time to learn yet another piece of software?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>It’s our mission to make it easier, more enjoyable, and more productive to expand your online offerings for digital scholarship support. We will help you set up your interface so you are ready to hit the ground running with your research group, for your digital humanities faculty, or with your students. <br> <br> The robust flexibility of the platform coupled with the import/export options and the support of many different document types means integration is really simple. <br> <br>If you have any questions along the way, we are available to answer them by email or chat. We can also set up a meeting to share our screen and walk through the platform functions with you. <br> <br> You will never be left banging your head against your desk, we promise. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Accordion End -->

    <!-- Crowd Second Banner -->
    <section class="crowd-second-banner">
        <div class="container">
            <h2 class="title">Support New Modes Of Research & Teaching With Ease</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <ul>
                        <li>As experienced software developers we’ve created a tool that works incredibly well, but more importantly it works well to make transcription efficient and easy for you.</li>
                        <li>For every client we start by diving deep on your particular resources to talk through optimal transcription and translation strategies and set-up.</li>
                        <li>It’s as easy as adding digitized documents to FromThePage and opening the platform to your students or research collaborators.</li>
                        <li>We present an image of the uploaded page to a user and a place for them to type what's on the page. Those two things together make magic, but the magic is done by humans.</li>
                        <li>There’s no need to wonder if our software can measure up to your unique source material–we are happy to share case studies to highlight a wide variety of use cases.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Second Banner End -->

    <!-- Crowd Case -->
    <section class="crowd-case">
        <div class="container">
            <h2 class="title">Case Studies Using FromThePage</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <div class="loop-case">
                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/digital-case01.png") %>
                                <p>Rebecca Nesvet, an English Literature Professor at University of Wisconsin Green Bay uses FromThePage to teach documentary editing, critical editing, and how to create a Text Encoding Initiative (TEI) edition of The String of Pearls or The Barber of Fleet Street, the second oldest story of Sweeny Todd. FromThePage allows students to correct a poor OCR version, making a real contribution to the reading community. Explore Rebecca’s use of transcription for pedagogy <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= image_tag("materials/digital-case02.png", class: 'second-img') %>
                                    </div>

                                    <div class="col-lg-6">
                                        <span>Sewanee: The University of the South is transcribing names of thousands imprisoned at the Lone Rock Stockade; highlighting the brutality of one place within a state-wide and region-wide practice. So far over 2800 names, 80% belonging to African Americans, have been documented through transcription work using FromThePage. Given the difficulties encountered in conducting genealogical research on African American communities, these documents could serve as a rich resource for modern descendants. Find out more <a href="#">here</a>.</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/digital-case03.png") %>
                                <p>Adam Rabinowitz, a Classics Professor at the University of Texas at Austin, uses FromThePage as a teaching tool in an undergraduate course. Each student is assigned to find the primary source materials in the archive and transcribe a letter in the collection using FromThePage. Then a larger collection of transcribed letters are provided to write a paper. Read more on Adam’s use of transcription for pedagogy <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/digital-case04.png") %>
                                <p>University of Southern Mississippi is transcribing, and annotating 20,000 digitized documents from the governor’s papers from the Civil War through the Reconstruction era. Transcription of letters to the governor provides a view of people experiencing this contentious time regardless of class, gender, race, religion, nativity, and age; traditional sources cannot provide access to that diversity. The collection includes lesson plans to help secondary educators incorporate these diverse nineteenth-century collections into classrooms. Discover more <a href="#">here</a>.</p>
                            </div>
                        </div>


                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/digital-case05.png") %>
                                <p>The University of Texas has a project focused on documenting underrepresented communities in Latin America through the digitization, digital preservation, and long-term digital access of fragile and endangered local archives. FromThePage partnered on internationalizing the platform, breaking down barriers to accessing Spanish and Portuguese-language digital collections, enabling collaboration with Latin American partners. Find out more about how FromThePage can support democratizing knowledge production <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= image_tag("materials/digital-case06.png", class: 'second-img') %>
                                    </div>

                                    <div class="col-lg-6">
                                        <span>Princeton's Department of Art and Archaeology used FromThePage to create an open dataset of 25 expedition notebooks of Howard Crosby Butler’s early 1900’s surveys of archaeological sites in Syria. This created access to documentation of the endangered or destroyed archaeological sites. The goal was to open this understudied material to yield meaningful findings, including for those interested in cultural heritage in Syria. To increase access, it is also being translated into Arabic; read more <a href="#">here</a>.</span>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/digital-case07.png") %>
                                <p>Dr. Julie deGraffenried & Benna Vaughan of Baylor University presented archival documents in a classroom setting to give students research experience in primary sources. Students used FromThePage to transcribe the 1916 minutes of the Evangelia Settlement House, the first daycare program for underprivileged children in Waco, Texas. Students experienced first-hand how transcription is a public service history enthusiasts can perform for the public. See how impactful the experience was for students <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= image_tag("materials/digital-case08.png", class: 'second-img') %>
                                    </div>

                                    <div class="col-lg-6">
                                        <span>Dr. Laura Morreale, an scholar of medieval francophonie and Italian historiographies uses FromThePage to make unknown or little-known text more accessible to scholars, students, and the general public. This work combines collaboration, transcription, digital humanities, and handwritten medieval manuscripts in non-English languages, often in a difficult or unfamiliar hand. Using FromThePage as a research and a pedagogical tool has made medieval sources easier to read, understand, and disseminate; learn more <a href="#">here</a>.</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Case End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="third-title">
                        <h4>What Others Are Saying About FromThePage</h4>
                        <!-- <p>For both research and pedagogy; not having to wrestle with a tool is so helpful in keeping up the momentum of the work</p> -->
                    </div>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>I have used FromThePage as both a research and a pedagogical tool; not having to wrestle with the tool is so helpful in keeping up the momentum of the work. I can confidently ask my colleagues to collaborate without asking them to spend hours learning a new tool or interface. A four year remote collaboration project has endured to a great extent because we could bring project members in seamlessly. In the classroom, my students have found transcribing exciting and gratifying, and a wonderful addition to the secondary material we are learning. Students really like learning this way because it is an unmediated experience; this is a real experience of meeting a scribe through his or her writings.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Dr. Laura Morreale</h4>
                                        <span>Scholar of Medieval Francophonie and Italian Historiographies</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>We have an enormous amount of understudied documentation that could yield meaningful findings, if people could just get to the stuff — FromThePage helps make access possible.
                                    <br>
                                        The platform is straightforward; not having to learn a bunch of code or a complicated platform is such a relief. I had one student say it was “soothing” to work on transcribing on FromThePage, and that made me so happy. I don’t want it to be tedious and boring work, because the subject is so interesting! FromThePage lets the subject be the focus, and makes it easy to work. I lose track of time a lot when I work on the project and don’t want to stop.
                                    <%= image_tag("icons/quote02.svg", class: 'bottom') %>
                                </p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Julia Gearhart</h4>
                                        <span>Director of the Visual Resources Collection of the Department of Art and Archaeology at Princeton University</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>As part of a land grant institution, the library wholeheartedly supports the mission of sharing knowledge beyond the campus borders. Adhering to this mission requires a further commitment to digital accessibility and the inclusive practice of removing barriers that prevent interaction with, or access to, digital content by people with disabilities. By providing accurate transcriptions, translations, and correcting OCR, we expand access to this content for all online users in accordance with WCAG 2.1 AA accessibility guidelines. Ben and Sara are easy to work with, understand our profession well, and are committed to making the systems we all use easier and better integrated. <%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Daniel Hartwig</h4>
                                        <span>Head of Special Collections and University Archives & Hannah Scates Kettler, Head of Digital Scholarship and Initiatives at Iowa State University</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Schedule -->
    <section class="crowd-schedule">
        <div class="container">
            <div class="title">
                <h4><%= number_with_delimiter Page.where.not(status: :new).count %></h4>
                <p>Pages — and counting!</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Schedule A Live Demo To Get A Personalized Walk-Through</h4>
                        <p>With FromThePage you get powerful transcription, annotation, metadata, and indexing capabilities to create searchable documents to expand the community that can access them. <br> <br> Whether you plan to crowdsource transcription projects within your classroom or use the platform to create a remote digital humanities research team, we can advise on what features have helped our many successful clients set up their systems for efficiency and ease of use. <br> <br> If we don’t currently have the functionality you need, we will develop the solution collaboratively with you, or we will suggest alternate collaborators or platforms to help you reach your goals. <br> <br> That’s what you get when you have developers that are fully invested in your success.</p>

                        <h6>Reserve your call to learn how FromThePage can expand your digital preservation and scholarship capabilities!</h6>
                        <a href="#">Schedule a Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Schedule End -->

     <!-- Crowd Testimonials -->
     <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h4 class="fourth-title text-center">Accessible and user-friendly for experts and non-experts alike</h4>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>With FromThePage everyone from secondary and college students to retiree volunteers can hop online and transcribe a document. Template instructions appear with every item — basic transcription protocols and best practices that project directors can tweak to their standards. FromThePage lets us annotate documents from the start, radically improving users ability to navigate and learn from the collection as soon as it is available online.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Susannah Ural</h4>
                                        <span>Professor of History and Director of the Civil War & Reconstruction Governors of Mississippi at the University of Southern Mississippi</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <%= render "shared/landingfooter" %>

</body>

</html>
