<%= render "shared/landingheader" %>
<body>
    <%= render "shared/landingbodyheader" %>

    <!-- Home Main -->
    <section class="home-main">
        <!-- <%= image_tag("materials/main-bg.png") %>-->

        <div class="text">
            <h2 data-aos="zoom-in" data-aos-duration="800">Crowdsourcing for Public Libraries</h2>
            <p data-aos="zoom-in" data-aos-duration="900">More Accessible, Searchable, And Usable Collections —
                Crowdsource Collaborative Transcription On An Intuitive Easy-To-Use Platform</p>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <%= image_tag("materials/crowd-main01.png", class: 'main-img') %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Main End -->

    <!-- Crowd Digitized -->
    <section class="crowd-digitized">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Do you have digitized files containing rich information you’d like more accessible?</h4>
                        <p>Maximize your efforts, engage researchers, and enlist a community of volunteers with a
                            simple, customizable tool to transcribe historic primary source materials.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <p>Speak directly with the creators and learn how FromThePage can help you unlock the
                                    wealth of information in your digitized holdings</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <p>Free customized walkthrough of features to craft robust transcription for genealogy
                                    research, local history research, and creating ADA accessible materials</p>
                            </div>
                        </div>
                    </div>

                    <div class="alt-title">
                        <h4>Increase resource accessibility with ease — Let us show you how!</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Digitized End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2 class="title">Value beyond just producing transcripts, we are expanding the library’s volunteer
                        base while also promoting collections volunteers were unfamiliar with.</h2>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Most of our volunteers were
                                    unfamiliar with the library’s digital collections before learning about the
                                    opportunity to volunteer with us, so there is value beyond just the transcripts they
                                    produce. FromThePage works for libraries at different levels; institutions like
                                    Stanford who are integrating IIIF are impressive, but it is beyond the scope of our
                                    project. I love that the site works for a public library as well as an academic one
                                    and we benefit from working alongside different institutions on a digital platform,
                                    in part because of the shared volunteer traffic. We've introduced dozens of people
                                    to transcription who previously had no experience with it whatsoever. We can expand
                                    the library’s volunteer base while also promoting the collections and seeing
                                    transcribers' joy at puzzling out a difficult word or finding something funny in an
                                    old letter has been a real blast!<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Victoria Duncan</h4>
                                        <span>Digital Projects Coordinator at the Indianapolis Public Library</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Logos -->
    <section class="crowd-logos">
        <div class="container">
            <h2 class="title">Our software has been trusted by librarians and archivists at these institutions:</h2>

            <%= image_tag("materials/crowd-logos.png") %>
        </div>
    </section>
    <!-- Crowd Logos End -->

    <!-- Crowd Banner -->
    <section class="crowd-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="item">
                        <h4>Designed for Public Library's Unique Needs</h4>
                        <p>Helping librarians to transcribe and create cearchable resources with ease</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>No Long Learning Curves</h4>
                        <p>Simple interface for project owners to review and control access; transcribers just type what
                            they see in the provided source image</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Collaborate Easily</h4>
                        <p>Volunteers can transcribe, translate, and annotate from anywhere at anytime of day</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Preserve Your Time</h4>
                        <p>Collaborators choose their work and review workflows are built in, no hassle of sending
                            progects individually</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Banner End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials mt100">
        <div class="container">
            <div class="second-title">
                <h4>See What FromThePage Has Done For These Librarians & Archivists</h4>
                <p>Deepens public engagement and establishes a greater understanding of volunteers' motivations for
                    supporting the Library</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="loop">
                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Having transcriptions for some
                                    of our most significant manuscript collections has been extremely valuable for
                                    researchers and Library staff, allowing the interrogation of large archival
                                    collections in an efficient way. Crowdsourcing has allowed us to harness the
                                    enthusiasm of digital volunteers, and the outcomes of these projects have proved to
                                    be mutually beneficial to both parties in achieving objectives of deeper public
                                    engagement with the collections and for the Library to build ongoing relationships
                                    with volunteers and establish a greater understanding of their interests, habits,
                                    and motivations for supporting the Library.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Elise Edmonds</h4>
                                        <span>Senior Curator of the State Library of New South Wales</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Most people are unaware of the lengthy process required to make digital images of textual documents discoverable. This issue is compounded by handwritten and typed documents. Documents created on typewriters in the late 19th and early 20th centuries have irregular margins, lines, and typed-over script. These characteristics make optical text recognition (OCR) nearly impossible, and the results are unreliable. Crowdsourced transcription easily solves this problem. FromThePage has reduced the amount of time spent preparing documents for publishing in our digital archives. Using crowdsourced transcription to speed up the process of indexing and publishing keyword searchable records to digital archives helps institutions make their collections discoverable from anywhere. My experience with FromThePage has by far exceeded my expectations.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Joseph Riedel</h4>
                                        <span>Librarian Assistant at the Fort Worth Public Library</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Our experience using FromThePage has been very positive. Our goal was to capture all the data from the WWI Questionnaires, as well as other field-based documents, in order to increase access and searchability. We chose an absolute beast of a form to attempt as our first structured data transcription set: 118 lines, some with 3 or 4 fields per line, with a total of over 200 fields. Ben and Sara worked with our team at the Library to upload all the images, make the form properly, and even incorporate new features we needed. Crowdsourcing has been immensely popular with our users, and we want to continue to build on this type of interaction with ongoing projects. We look forward to continuing to work with users and FromThePage to improve our collections and generate new interactions.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Sonya Coleman</h4>
                                        <span>Digital Engagement and Social Media Coordinator at the Library of Virginia</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>We have a community who wants to engage with records, and this gives us a way to let them interact with our materials that is supportive without requiring special knowledge. It's been very easy, very hands off. Instead of dealing with dozens of questions about transcriptions and formatting I just send our patrons to our site. Also, any time we try to implement something new and cool, Sara and Ben are super responsive and supportive. I wish even a fraction of our other services were as supportive as FromThePage has been.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Andrea Meyer</h4>
                                        <span>Head of Long Island Collection at East Hampton Library</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Increase -->
    <section class="crowd-increase">
        <div class="container">
            <h2 class="title">Increase Volunteer Opportunities While Improving The Accessibility Of Your Holdings</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Get Real Live Human Support</h4>
                                <p>Always get your questions answered by us directly, the developers of the software.
                                    That way you get the support and help you need faster, no extra steps.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Boost library outreach</h4>
                                <p>Expand the ways you promote your collection by connecting with patrons and remote
                                    digital volunteers that wouldn’t otherwise interact with the holdings.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Energize public engagement</h4>
                                <p>Grow your community of library resource users and supporters by creating a fun way to
                                    explore historical materials through transcription.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Receive experienced crowdsourcing guidance</h4>
                                <p>Even if you’ve never crowdsourced before, we help you set everything up and provide
                                    advice on how to encourage volunteers to become transcribers for your projects.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Collaborate with ease</h4>
                                <p>Whether you have an established team of volunteers or are interested in public
                                    crowdsourcing, we provide a platform that allows you to track, control, oversee, and
                                    review projects painlessly.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Reclaim your time with simple, intuitive tools</h4>
                                <p>No reason to struggle with a complex set of tools that makes no sense for your
                                    historic source materials. Streamlined, intuitive tools for your specific needs can
                                    be curated to make work easier for you and collaborators.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Receive customized support for your library’s particular projects</h4>
                                <p>We have experience advising many institutions how to use our wealth of tools for
                                    their specific materials, even if it’s a little out of the box. If you have a unique
                                    need, we are passionate about helping you meet it.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Forget reinventing the wheel with our plug-and-play solution</h4>
                                <p>Skip the frustration of trying to create your own transcription process or software.
                                    We’ve anticipated the essential and advanced features you want and need; developing
                                    a superior software tool for the solution of more accessible, searchable documents.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Increase End -->

    <!-- Crowd Revulationize -->
    <section class="crowd-revulationize">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Revolutionize Your Resource Usability While Increasing Public Engagement </h4>
                        <p>With FromThePage you get powerful transcription, annotation, metadata, and indexing
                            capabilities to create searchable documents to expand the community that can access them.
                            Also, the user-friendly interface provides remote volunteering opportunities simply, without
                            overloading you or your team with time consuming tasks. <br> <br>
                            Let us advise you on the exact features that have helped our many successful clients plan
                            and execute crowdsource transcription projects in an easy and efficient way. <br> <br>
                            Our software has been utilized by many public libraries and archives. The diverse projects
                            we’ve supported include transcription of community histories, personal letters, journals and
                            diaries, institutional correspondence, WWI service cards, administrative records, financial
                            ledgers, voter registration cards, and prison records. <br> <br>
                            We would love to walk you through how FromThePage can help you take your rich historic
                            holdings and make them more accessible.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Revulationize End -->

    <!-- Crowd Ready -->
    <section class="crowd-ready">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Ready for a flexible platform that provides an easy way to engage volunteers in
                            transcription of historic materials?</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>

                    <div class="text">
                        <h4>The Perfect Software Solution To Turn Digitized Collection Content Into Findable Materials
                        </h4>
                        <p>With our custom demo of the software we show you how FromThePage can be configured to
                            accomplish your specific goals with your actual materials. One way we do this is by sharing
                            case studies of other users to show how our features can support your transcription needs in
                            a variety of ways. <br> <br> The following features are especially relevant and utilized by
                            public libraries:</p>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Crowdsourced & Collaborative Transcription & Translation.</h4>
                                        <p>Support your
                                            programming with an online component of public engagement of transcription and
                                            translation of primary source materials.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Deep Zoom.</h4>
                                        <p>Collaborators can zoom to decipher difficult handwriting on
                                            uploaded documents.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Collaboration.</h4>
                                        <p>Page level comments and discussion create a rich
                                            experience for transcribers to become more knowledgeable and precise over-time.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Version Control & Track Changes.</h4>
                                        <p>Tools to oversee, track, control, and
                                            review projects so you can maintain high-quality contributions.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Configurable Fields.</h4>
                                        <p>Field-based transcription to support pre-printed
                                            forms allows transcription of structured data from index cards, government forms,
                                            spreadsheets, and questionnaires.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Metadata Creation Via Custom Forms.</h4>
                                        <p>Standardized metadata fields can be
                                            created so that users can create item-level metadata.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Private Projects.</h4>
                                        <p>Project owners can grant access to specific people
                                            only if they wish. This can restrict access to projects to only staff members, members
                                            of a research group, or members of indigenous or descendant communities.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>OCR Correction.</h4>
                                        <p>Review of an OCR text compared to the original source
                                            document allows for human corrected transcriptions.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Indexing & Annotation.</h4>
                                        <p>Users may tag subjects like toponyms or personal
                                            names, automatically creating an index in the text, preserving variant phrases or
                                            spellings used to refer to the same subject.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Integration Via IIIF & CONTENTdm.</h4>
                                        <p>Import options to load collections
                                            and associated metadata as simply as entering URLs.</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Ready End -->

    <!-- Crowd Accordion -->
    <section class="crowd-accordion">
        <div class="container">
            <h2 class="title">Making It Possible To Simplify Collaborative Transcription</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Not sure volunteers can create quality transcriptions?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>In our experience, the people that are drawn to this type of volunteering are very detail oriented, passionate, curious, and committed. You can set customized guidelines, designated reviewers, and allow version history viewing to help transcribers become more precise over time.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Apprehensive about the time required to manage projects?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You can upload documents in small amounts over time, the work is all defined by your project timeline. Also, training staff or expert volunteers to be in a reviewer role means your time doesn’t need to be monopolized by review of transcriptions. And keeping tabs on work is easy, our nightly activity reports show you progress in your inbox every morning. <br> <br> The extensive list of projects we’ve consulted on allows us to make suggestions to make sure your projects will be successful and will not take excess time and effort on your part.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Worried organizational leaders won’t understand the investment?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can help. The information we provide can be used to explain how this software will radically increase the usability of the resources while cultivating community engagement, allowing for the development of research initiatives, as well as enhancing collection accessibility for interoperability and supporting digital preservation.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Think you might need a grant for funding?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We’ve worked in research computing for the humanities and social sciences, so we can advise on what helps make grant applications more compelling. <br> <br> The information we can provide to reinforce your application includes similar case studies to show how FromThePage is essential to providing readable, searchable collections and how it’s been successfully used by many others to do just that. <br> <br> We go so far as to help with Letters of Support and Budget Line item breakdowns so including FromThePage in your grant applications is seamless.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Disappointed by previous software experiences?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>After our custom demo call, if it doesn’t seem like a good fit, we can recommend different approaches, other collaborators, or other platforms if they’re more appropriate — we really don’t want you to use our software if it’s wrong for your needs. <br> <br> We do want you to be successful. We will support you however we can in charting your path to reach your library's goals.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Worried FromThePage won’t work for your specific project?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can share examples of other projects that are doing similar work. This allows us to strategize with you on how best to tackle your particular materials and gives you an idea of the vast variety of projects we’ve supported.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Concerned you won’t have time to learn yet another piece of software?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>It is our mission to make it easier, more enjoyable, and more productive to expand your online offerings. We will help you set up your interface so you are ready to hit the ground running, with your team or with volunteers. We can help you with recruitment strategies and also promote the project through the FromThePage website to our established, enthusiastic transcriber community. <br> <br>The flexibility of the platform coupled with the import/export options and the support of many different document types means integration is really simple. <br> <br>If you have any questions along the way, we are available to answer them by email or chat. We can also set up a meeting to share our screen and walk through the platform functions with you. <br> <br>You will never be left banging your head against your desk, we promise.   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Accordion End -->

    <!-- Crowd Second Banner -->
    <section class="crowd-second-banner">
        <div class="container">
            <h2 class="title">Put Our Understanding Of Your Library’s Needs To Work For You</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <ul>
                        <li>We know your community is underserved by technologists. We are changing that.</li>
                        <li>As experienced software developers we have created a tool that works incredibly well, but more importantly it works well to make transcription of your library resources efficient and easy.</li>
                        <li>For every client we start by diving deep on your particular materials with you to talk through optimal transcription strategies and set-up.</li>
                        <li>It’s as easy as adding digitized documents to FromThePage and inviting your community to help transcribe those materials.</li>
                        <li>We present an image of the uploaded page to a user and a place for them to type what's on the page. Those two things together make magic, but the magic is done by humans.</li>
                        <li>No need to wonder if our software can measure up to your unique holdings, we are happy to share case studies to highlight a wide variety of use cases.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Second Banner End -->

    <!-- Crowd Case -->
    <section class="crowd-case">
        <div class="container">
            <h2 class="title">Case Studies Using FromThePage</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <div class="loop-case">
                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/crowd-case01.png") %>
                                <p>FromThePage allows the public to have meaningful interaction with the Genealogy, Local History & Archives Unit of the Fort Worth Public Library. Over 8,000 pages have been transcribed in a little over a year. Volunteers enjoy making a contribution to the historical record by transcribing hand-written or type-written documents, helping make digitized records more useful to researchers by speeding up the indexing process. Learn more about this crowdsourcing success <a href="#">here</a>.</p>
                            </div>
                        </div>





                        <div class="box">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= image_tag("materials/crowd-case02.png", class: 'second-img') %>
                                    </div>

                                    <div class="col-lg-6">
                                        <span>Indianapolis Public Library has six collections on FromThePage comprising a diverse range of document types. Their goal is to provide comprehensive full-text searchability because some collections are almost unusable without the ability to search the documents. Transcription will make a host of genealogical information accessible where previously it was nearly impossible to find a specific name or other information. Read more on how volunteers are helping increase the visibility of the collections to Indianapolis residents and beyond <a href="#">here</a>.</span>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/crowd-case03.png") %>
                                <p>Los Angeles County Library’s Office of Indian Affairs has 5,300 handwritten letters about interactions with California Indians from federal and state government officials and private citizens sent to the federal Office of Indian Affairs between 1849 and 1880. Using FromThePage to create full-text transcripts of the letters opens them up to students, researchers, and others who want to learn about people from that time. Crowdsourcing this work also provides users new ways to interact with and explore the collection; find out more <a href="#">here</a>.</p>
                            </div>
                        </div>




                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/crowd-case04.png") %>
                                <p>The Alabama Department of Archives and History has transcribed 61 volumes of voter registration oaths taken by white and black men in Alabama in 1875. Each entry records the voter's name, race, and occupation–details invaluable to genealogists and scholars. These are among the state's earliest government records documenting the names of formerly enslaved African American men. Discover how transcription allows exploration of these rich but complicated sources of information <a href="#">here</a>.</p>
                            </div>
                        </div>




                        <div class="box">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= image_tag("materials/crowd-case05.png") %>
                                    </div>

                                    <div class="col-lg-6">
                                        <span>The Library of Virginia houses over 124 million archival items, including 14,900 World War I Questionnaires gathered from 1919-1921. They cover the veteran’s personal information and war record in detail. The Library used FromThePage to fully transcribe all the questionnaire data to honor the 100-year anniversary of WWI. They continue to transcribe other field-based documents, further increasing access and searchability of their records. See how crowdsourced transcription improves collection use <a href="#">here</a>.</span>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/crowd-case06.png") %>
                                <p>East Hampton Public Library is using FromThePage for historical church records to help identify formerly enslaved people and for 63 volumes of whaling logs covering 70 voyages. Cursive handwriting of records has been a barrier for genealogical research and for people to understand some amazing stories, like the first American voyage to Antarctica by Captain Mercator Cooper. Transcripts of materials make them more searchable and accessible, helping people discover historical records without requiring special knowledge on how to decipher difficult handwriting. Find out more <a href="#">here</a>.</p>
                            </div>
                        </div>





                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/crowd-case07.png") %>
                                <p>The Seattle Municipal Archives has been transcribing records documenting City of Seattle activities from the 1870s to the early 1900s; including letters and petitions to claims, reports, bids, and contracts illustrating the growth of a booming city in the words of everyday people who may not be documented elsewhere. These transcripts are full of gold nuggets for genealogists, and valuable primary sources for students and anyone interested in early Seattle history. Check out how FromThePage provides a hands-on approach to history <a href="#">here</a>.</p>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Case End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="third-title">
                        <h4>What Others Are Saying About FromThePage</h4>
                        <!-- <p>Increases the visibility of our materials and engages volunteers in a way that is as “hands-on” as possible in a virtual environment</p> -->
                    </div>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>
                                    One of our goals is to increase the visibility of our materials and engage new audiences and volunteers in a way that is as “hands-on” as possible in a virtual environment. We like that FromThePage is a web-based platform that can be easily accessed from anywhere and is an uncomplicated platform, easy to set up and also easy for people of any technical ability to use. FromThePage is scalable with different options depending on your number of records and/or institutional capacity, so we’re able to work within a level that best fits our needs. It’s been exciting to hear from our community of volunteer transcribers who say they enjoy this unique way of learning about the history of their city! <%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Jeanie Fisher</h4>
                                        <span>Reference Archivist of the Seattle Municipal Archives</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Even as computer-generated character recognition continues to improve, the best mechanism for transcription is still the human eye. Historical institutions such as Kentucky Historical Society rely on the hard work of volunteers and staff to create readable and searchable versions of their collections, especially handwritten documents. In many cases, the usefulness of historical resources increases exponentially after transcription. FromThePage provides a platform on which this work can take place quickly and easily. FromThePage is also remarkably easy to use, both from the back end and as a transcriber, and the projects themselves provide an opportunity for users to interact with primary sources virtually even if they can’t visit the institution in person. <%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">
                                    <div class="text">
                                        <h4>Alyssa Ollier</h4>
                                        <span>Digital Archivist at the Kentucky Historical Society</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>FromThePage was exactly what we were looking for—a crowdsourced transcription platform that offered hosting services. The archives used it to create a meaningful World War I centennial commemorative program involving the public. We accomplished a massive indexing project of over 111,000 WWI service records cards more quickly than we ever could have in-house. Working with Ben and Sara we produced the field function feature needed for this project and now it can be adapted for other crowdsourcing projects. Through this work we established a base of “virtual volunteers” and formed relationships in a new community of users. <%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Meredith McDonough</h4>
                                        <span>Digital Assets Coordinator at Alabama Department of Archives and History</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Schedule -->
    <section class="crowd-schedule">
        <div class="container">
            <div class="title">
                <h4><%= number_with_delimiter Page.where.not(status: :new).count %></h4>
                <p>Pages — and counting!</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Schedule A Live Demo To Get A Personalized Walk-Through</h4>
                        <p>FromThePage allows you to offer a new way to engage with the library holdings and a unique volunteer opportunity for patrons in the library or online all while creating a more accessible, searchable, and ultimately more usable collection! <br> <br> Volunteer transcription is a great way for people to make a real difference from their home, whether they are making access to public documents easier, highlighting people forgotten by the historic records, or spotlighting a particular person or community. <br> <br> We are here to help. If we don’t currently have the functionality you need, we will develop the solution collaboratively with you, or we will suggest alternate collaborators or platforms to help you reach your goals. <br> <br> That’s what you get when you have developers that are fully invested in your success.</p>

                        <h6>Reserve your call to learn how FromThePage can expand collection usability!</h6>
                        <a href="#">Schedule a Free Demo</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Schedule End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h4 class="fourth-title">Provides our users with new ways to interact with, explore, and use the large amount of content in our collections</h4>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>We'd been looking for a program to facilitate this project for some time, and FromThePage ticked all the boxes for us: ability to import, host, and export documents and content, mechanisms to track progress, and ways to learn about how our collaborators were working on the project were all important to us. Our main goal is to make this large amount of content more accessible. Full-text transcription of the letters will really open them up to use for students, researchers, and others who want to find, read, and analyze their contents to learn more about people and events of the time. We're also interested in providing our users with new ways to interact with and explore our collections. We're so glad we found FromThePage!<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Kelly Riddle</h4>
                                        <span>Digital Projects Coordinator at LA County Library</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <%= render "shared/landingfooter" %>

</body>

</html>
