<%= render "shared/landingheader" %>
<body>
<%= render "shared/landingbodyheader" %>

    <!-- Home Main -->
    <section class="home-main">
        <!-- <%= image_tag("materials/main-bg.png") %> -->

        <div class="text">
            <h2 data-aos="zoom-in" data-aos-duration="800">Transcription for State & Provincial Archives</h2>
            <p data-aos="zoom-in" data-aos-duration="900">More Accessible, Searchable, And Usable Records — Crowdsource Collaborative Transcription Via An Intuitive Easy-To-Use Platform</p>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <%= image_tag("materials/transcription-state-main.png", class: 'main-img') %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Main End -->

    <!-- Crowd Digitized -->
    <section class="crowd-digitized">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Do you have digitized records you need to make more accessible?</h4>
                        <p>Maximize your efforts – tap into a community of interested volunteers and use a simple, customizable tool to transcribe public and government records</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <p>Speak directly with the creators and learn how FromThePage can help you easilyindex your collection of records</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <p>Free customized walkthrough of the exact features to create searchableand accessible materials</p>
                            </div>
                        </div>
                    </div>

                    <div class="alt-title">
                        <h4>Increase record discoverability with ease  — Let us show you how!</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Digitized End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2 class="title">Having a digitized, searchable index of these records makes an enormous difference for the people who need access to them</h2>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Crowdsourcing is a great fit for state archives. It’s an efficient way of reaching out to people interested in the archives and offering them a specific project to work on. For our first project with FromThePage we transcribed 50,000 marriage certificates, which have no index, and have to be searched by hand otherwise. We don’t have the staff for a data-entry project of this magnitude; we need to utilize volunteers. The fielded-form of FromThePage, along with the desire of the volunteer transcribers to help create something useful for the benefit of many, has made this project successful.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Liz Coelho</h4>
                                        <span>Director of Special Projects at the Maryland State Archives</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Logos -->
    <section class="crowd-logos">
        <div class="container">
            <h2 class="title">Our software has been trusted by archivists at these institutions:</h2>

            <%= image_tag("materials/transcription-state-logos.png") %>
        </div>
    </section>
    <!-- Crowd Logos End -->

    <!-- Crowd Banner -->
    <section class="crowd-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="item">
                        <h4>Designed for archives’ unique needs</h4>
                        <p>Helping archivists to undex and create searchable resources with ease</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>No Long Learning Curves</h4>
                        <p>Easy-to-use project owners’ interface - transcribers just type what appears in the records</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Simple controls</h4>
                        <p>Tools to manage public or private transcriber teams</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Preserve your time</h4>
                        <p>Collaborators choose their work and review workflows are built in</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Banner End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials mt100">
        <div class="container">
            <div class="second-title">
                <h4>See What FromThePage Has Done For These Archivists</h4>
                <p>“Virtual volunteers” and forming a new community of users</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="loop">
                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>FromThePage was exactly what we were looking for—a crowdsourced transcription platform that offered hosting services. The archives used it to create a meaningful World War I centennial commemorative program involving the public. We accomplished a massive indexing project of over 111,000 WWI service records cards more quickly than we ever could have in-house. Working with Ben and Sara we produced the field function feature needed for this project and now it can be adapted for other crowdsourcing projects. Through this work we established a base of “virtual volunteers” and formed relationships in a new community of users.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Meredith McDonough</h4>
                                        <span>Digital Assets Coordinator at Alabama Department of Archives and History</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>As part of a land grant institution, the library wholeheartedly supports the mission of sharing knowledge beyond the campus borders. Adhering to this mission requires a further commitment to digital accessibility and the inclusive practice of removing barriers that prevent interaction with, or access to, digital content by people with disabilities. By providing accurate transcriptions, translations, and correcting OCR, we expand access to this content for all online users in accordance with WCAG 2.1 AA accessibility guidelines. Ben and Sara are easy to work with, understand our profession well, and are committed to making the systems we all use easier and better integrated.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Daniel Hartwig</h4>
                                        <span>Head of Special Collections and University Archives & Hannah Scates Kettler, Head of Digital Scholarship and Initiatives at Iowa State University</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>This particular collection has always been available at the Archives, but now people know about it! They are able to search and even see the images from home. It’s been a very efficient way for us to get a large collection indexed. We have over 100 volunteers, and about 25 active any given week; they can all work at the same time, at any time of the day, from anywhere. The collection is now available online to researchers as it’s being indexed, which is something we haven’t been able to offer before. As more archives embark on digitization and transcription projects, our history becomes much more accessible. Also, this project has allowed us to interact with a group of people who have never visited the Indiana Archives before and may have never heard of it.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Claire Horton</h4>
                                        <span>Deputy State Archivist at Indiana Archives and Records Administration</span>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Increase -->
    <section class="crowd-increase">
        <div class="container">
            <h2 class="title">Improve The Searchability of Your Records By Utilizing Volunteer Transcribers</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Reclaim your time with simple, intuitive tools</h4>
                                <p>There’s no reason to struggle sorting through a complex set of tools that makes no sense for your document types. Streamlined, intuitive tools for your specific needs can be curated to make work easier for you and collaborators.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Receive experienced crowdsourcing guidance</h4>
                                <p>Even if you’ve never crowdsourced before, we help you set everything up and provide advice on how to encourage volunteers to become transcribers for your projects.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Collaborate with ease</h4>
                                <p>Whether you have an established team or are looking to crowdsource help, we provide a platform that allows you to track, control, oversee, and review projects painlessly.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Get Real Live Human Support</h4>
                                <p>Always get your questions answered by us directly, the developers of the software. That way you get the support and help you need faster, with no extra steps.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Secure customized support for your collection’s particular projects</h4>
                                <p>We have experience advising many institutions how to use our wealth of tools for their specific materials, even if it’s a little out of the box. If you have a unique need, we are passionate about helping you meet it.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Forget reinventing the wheel with our plug-and-play solution</h4>
                                <p>Skip the frustration of trying to create your own transcription process or software. We’ve anticipated the essential features you want and need; developing a superior software tool for the solution of more searchable records.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Increase End -->

    <!-- Crowd Revulationize -->
    <section class="crowd-revulationize">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Revolutionize Your Records Usability While Increasing Public Engagement</h4>
                        <p>With FromThePage you get powerful transcription, annotation, metadata, and indexing capabilities to create searchable documents to expand the community that can access them. Also, the user-friendly interface provides remote volunteering opportunities simply, without overloading you or your team with time-consuming tasks. <br> <br>Whether you plan to crowdsource transcription projects from your archives, or utilize an internal team, we can advise on what features have helped our many successful clients set up their systems for efficiency and ease of use. <br> <br> Our software has been utilized by many archives. The diverse projects we’ve supported include transcription of state, provincial, and local administrative records like marriage certificates, birth, and death records; as well as veterans’ service records, historical voter registration rolls, and financial ledgers. We would love to walk you through how FromThePage can help you take your record holdings and make them more accessible. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Revulationize End -->

    <!-- Crowd Ready -->
    <section class="crowd-ready">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Ready for a reliable platform that enhances the speed and accuracy of transcription, while being simple enough to feel easy?</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>

                    <div class="text">
                        <h4>The Perfect Software Solution To Transcribe Digitized Collection Content</h4>
                        <p>With our custom demo of the software, we show you how FromThePage can be configured to accomplish your specific goals with your actual materials. One way we do this is by sharing case studies of other users to show how our features can support your transcription needs in a variety of ways. <br> <br>The following features are especially relevant and utilized by archivists:</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Crowdsourced & Collaborative Transcription & Translation.</h4>
                                    <p>Support your
                                        programming with an online component of public engagement of transcription and
                                        translation of primary source materials.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Deep Zoom.</h4>
                                    <p>Collaborators can zoom to decipher difficult handwriting on
                                        uploaded documents.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Collaboration.</h4>
                                    <p>Page level comments and discussion create a rich
                                        experience for transcribers to become more knowledgeable and precise over-time.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Version Control & Track Changes.</h4>
                                    <p>Tools to oversee, track, control, and
                                        review projects so you can maintain high-quality contributions.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Configurable Fields.</h4>
                                    <p>Field-based transcription to support pre-printed
                                        forms allows transcription of structured data from index cards, government forms,
                                        spreadsheets, and questionnaires.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Metadata Creation Via Custom Forms.</h4>
                                    <p>Standardized metadata fields can be
                                        created so that users can create item-level metadata.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Private Projects.</h4>
                                    <p>Project owners can grant access to specific people
                                        only if they wish. This can restrict access to projects to only staff members, members
                                        of a research group, or members of indigenous or descendant communities.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>OCR Correction.</h4>
                                    <p>Review of an OCR text compared to the original source
                                        document allows for human corrected transcriptions.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Indexing & Annotation.</h4>
                                    <p>Users may tag subjects like toponyms or personal
                                        names, automatically creating an index in the text, preserving variant phrases or
                                        spellings used to refer to the same subject.</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box">
                                    <h4>Integration Via IIIF & CONTENTdm.</h4>
                                    <p>Import options to load collections
                                        and associated metadata as simply as entering URLs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Ready End -->

    <!-- Crowd Accordion -->
    <section class="crowd-accordion">
        <div class="container">
            <h2 class="title">Making It Possible To Simplify Collaborative Transcription</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Not sure volunteers can create quality transcriptions?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>In our experience, the people that are drawn to this type of volunteering are very detail oriented, passionate, curious, and committed. You can set customized guidelines, designated reviewers, and allow version history viewing to help transcribers become more precise over time.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Apprehensive about the time required to manage projects?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You can upload documents in small amounts over time, the work is all defined by your project timeline. Also, training staff or expert volunteers to be in a reviewer role means your time doesn’t need to be monopolized by review of transcriptions. And keeping tabs on work is easy, our nightly activity reports show you progress in your inbox every morning. <br> <br> The extensive list of projects we’ve consulted on allows us to make suggestions to make sure your projects will be successful and will not take excess time and effort on your part.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Worried organizational leaders won’t understand the investment?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can help. The information we provide can be used to explain how this software will radically increase the usability of the resources while cultivating community engagement, allowing for the development of research initiatives, as well as enhancing collection accessibility for interoperability and supporting digital preservation.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Disappointed by previous software experiences?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>After our custom demo call, if it doesn’t seem like a good fit, we can recommend different approaches, other collaborators, or other platforms if they’re more appropriate — we really don’t want you to use our software if it’s wrong for your needs. <br> <br>We do want you to be successful. We will support you however we can in charting your path to reach your institution's goals. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Worried FromThePage won’t work for your specific project?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can share examples of other projects that are doing similar work. This allows us to strategize with you on how best to tackle your particular materials and gives you an idea of the vast variety of projects we’ve supported.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Think you might need a grant for funding?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We’ve worked in research computing for the humanities and social sciences, so we can advise on what helps make grant applications more compelling. <br> <br>The information we can provide to reinforce your application includes similar case studies to show how FromThePage is essential to providing readable, searchable record holdings and how it’s been successfully used by many others to do just that. <br> <br>We go so far as to help with Letters of Support and Budget Line item breakdowns so including FromThePage in your grant applications is seamless. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Concerned you won’t have time to learn yet another piece of software?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>It is our mission to make it easier, more enjoyable, and more productive to expand your online offerings. We will help you set up your interface so you are ready to hit the ground running, with your team or with volunteers. We can help you with recruitment strategies and also promote the project through the FromThePage website to our established, enthusiastic transcriber community. <br> <br> The flexibility of the platform coupled with the import/export options and the support of many different document types means integration is really simple. <br> <br> If you have any questions along the way, we are available to answer them by email or chat. We can also set up a meeting to share our screen and walk through the platform functions with you. <br> <br> You will never be left banging your head against your desk, we promise.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Accordion End -->

    <!-- Crowd Second Banner -->
    <section class="crowd-second-banner">
        <div class="container">
            <h2 class="title">Put Our Understanding Of Archives To Work For You</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <ul>
                        <li>We know your community is underserved by technologists. We are changing that.</li>
                        <li>As experienced software developers we have created a tool that works incredibly well, but more importantly it works well to make transcription of your records efficient and easy.</li>
                        <li>For every client we start by diving deep on your particular resources with you to talk through optimal transcription strategies and set-up.</li>
                        <li>It’s as easy as adding digitized record documents to FromThePage and inviting your community to help transcribe those materials.</li>
                        <li>We present an image of the uploaded page to a user and a place for them to type what's on the page. Those two things together make magic, but the magic is done by humans.</li>
                        <li>You’ve scanned your collection for years, but no one can find the text locked in your images. Use FromThePage to free your images and engage collaborators everywhere.</li>
                        <li>No need to wonder if our software can measure up to your unique holdings, we are happy to share case studies to highlight a wide variety of use cases.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Second Banner End -->

    <!-- Crowd Case -->
    <section class="crowd-case">
        <div class="container">
            <h2 class="title">Case Studies Using FromThePage</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <div class="loop-case">
                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/state-case01.png") %>
                                <p>The Alabama Department of Archives and History staff spent 18 months digitizing 111,000 WWI service record cards and in only 3.5 months volunteer transcribers finished them all. FromThePage made it easy to keep track of all the volunteers, many who were not even in Alabama. People were looking for worthwhile projects, and the geographic boundaries of the documents mattered way less than staff thought they would. When this project was done the virtual volunteers were clamoring for more and the archives went to work getting more digitized collections up on the platform. See the whole story <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/state-case02.png") %>
                                <p>The Maryland State Archives had volunteer transcribers help create an index for over 50,000 marriage certificates. Archivists no longer need to search by hand for the record. This was made more difficult if the patron couldn’t remember the date of their marriage but desperately needed the certificate to apply for social security benefits, a passport, or a driver’s license renewal. Digitized, searchable indexes of records make an enormous difference in helping people who need them and those who use them for genealogical purposes. Check out this project <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/state-case03.png") %>
                                <p>The State Archives of North Carolina has active collections on varying topics on FromThePage, including Local Draft Board Records, Colonial Court Records, African American Education, World War I Diaries, WWI and WWII Letters, and Women’s History. Their grant-funded project North Carolina’s Early Court Records kicked-off their use of the platform. Beyond their goal to broaden accessibility to the collections, they also wanted to engage public volunteers with the work of the archives through transcription. Now patrons anywhere in the world can perform full-text searches on the transcribed documents; find out more <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/state-case04.png") %>
                                <p>The Indiana Archives and Records Administration used FromThePage to create an index of Indiana’s WWI service record cards with the goal of honoring veterans and making history more accessible. Interest in transcribing records made it a very efficient way to index a large collection and illustrate the value of the archives to more people. FromThePage is a valuable platform for helping to make that connection happen. Read what volunteers have to say about the transcription process <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= image_tag("materials/state-case05.png", class: 'second-img') %>
                                    </div>

                                    <div class="col-lg-6">
                                        <span>The Library of Virginia houses 14,900 World War I Questionnaires gathered from 1919-1921 by the Virginia War History Commission. They cover the veteran’s personal information and war record in detail. The Library used FromThePage to capture all the data from the questionnaires, fully transcribing them to honor the 100-year anniversary of WWI. They continued to transcribe other field-based documents, to further increase access and searchability of their records. Read more about how crowdsourced-transcription makes their projects possible <a href="#">here</a>.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Case End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="third-title">
                        <h4>What Others Are Saying About FromThePage</h4>
                        <!-- <p>FromThePage has increased access and searchability of our records and crowdsourcing has been immensely popular with our volunteers</p> -->
                    </div>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Our experience using FromThePage has been very positive. Our goal was to capture all the data from the WWI Questionnaires, as well as other field-based documents, in order to increase access and searchability. We chose an absolute beast of a form to attempt as our first structured data transcription set: 118 lines, some with 3 or 4 fields per line, with a total of over 200 fields. Ben and Sara worked with our team at the Library to upload all the images, make the form properly, and even incorporate new features we needed. Crowdsourcing has been immensely popular with our users, and we want to continue to build on this type of interaction with ongoing projects. We look forward to continuing to work with users and FromThePage to improve our collections and generate new interactions.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Sonya Coleman</h4>
                                        <span>Digital Engagement and Social Media Coordinator at the Library of Virginia</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>We utilize FromThePage to broaden accessibility to our collections and also to engage public volunteers. Our goals are to increase access through expanded arrangement, description, and digitization, providing greater keyword searching and increased accessibility when cursive or archaic spelling may present a barrier to reading archival materials. Now on transcribed materials we can perform full text searches! Also, the platform is very simple and straightforward to use. One of the best features is its compatibility with CONTENTdm, the digital management software we utilize. Exporting the completed transcriptions is a two-step process requiring very little effort. <%= image_tag("icons/quote02.svg", class: 'bottom') %>
                                </p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Olivia Carlisle</h4>
                                        <span>Digitization Archivist at the State Archives of North Carolina</span>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Schedule -->
    <section class="crowd-schedule">
        <div class="container">
            <div class="title">
                <h4><%= number_with_delimiter Page.where.not(status: :new).count %></h4>
                <p>Pages — and counting!</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Schedule A Live Demo To Get A Personalized Walk-Through</h4>
                        <p>FromThePage allows you to make your digitized records more accessible, searchable, and ultimately more usable. You can even engage volunteers in citizen scholarship while you do it! <br> <br> Volunteer transcription is a great way for people to make a real difference from their home, whether they are making access to public documents easier, highlighting people forgotten by the historic records, or spotlighting a particular person or community. <br> <br> Whether you transcribe internally or crowdsource with volunteers, we are here to help. If we don’t currently have the functionality you need, we can develop the solution collaboratively with you, or we will suggest alternate collaborators or platforms to help you reach your goals. <br> <br>That’s what you get when you have developers that are fully invested in your success. </p>

                        <h6>Reserve your call to learn how FromThePage can expand the discoverability of your records!</h6>
                        <a href="#">Schedule a Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Schedule End -->

     <!-- Crowd Testimonials -->
     <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h4 class="fourth-title text-center">Records are a frontline necessity using an index created by volunteer transcribers I was able to email the record in thirty minutes so her husband could get care</h4>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Records are absolutely a frontline necessity for so many aspects of our lives–authorization for medical care, government and employee benefits, passports, even final burial. If you can't find the record you're sunk. I got a call from a woman who needed her marriage certificate so she could authorize treatment for her husband who was hospitalized with covid. I used an index created by FromThePage volunteer transcribers to find the certificate, and was able to email a copy to her in less than thirty minutes. It was a wonderful feeling to be able to help her in a dire time.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Liz Coelho</h4>
                                        <span>Director of Special Projects at the Maryland State Archives</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

<%= render "shared/landingfooter" %>

</body>

</html>
