<%= render "shared/landingheader" %>
<body>
<%= render "shared/landingbodyheader" %>

    <!-- Home Main -->
    <section class="home-main">
        <!-- <%= image_tag("materials/main-bg.png") %> -->

        <div class="text">
            <h2 data-aos="zoom-in" data-aos-duration="800">Transcription for Archives and Special Collections</h2>
            <p data-aos="zoom-in" data-aos-duration="900">More Accessible, Searchable, And Usable Collections —
                Crowdsource Collaborative Transcription On An Intuitive Easy-To-Use Platform</p>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <%= image_tag("materials/transcription-archive-main.png", class: 'main-img') %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Main End -->

    <!-- Crowd Digitized -->
    <section class="crowd-digitized">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Do you have digitized files containing rich information you’d like more accessible?</h4>
                        <p>Maximize your efforts, engage researchers, and enlist a community of volunteers with a
                            simple, customizable tool to transcribe historic primary source materials.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <p>Speak directly with the creators and learn how FromThePage can help you unlock the
                                    wealth of information in your digitized holdings</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <p>Free customized walkthrough of features to craft robust transcription for genealogy
                                    research, local history research, and creating ADA accessible materials</p>
                            </div>
                        </div>
                    </div>

                    <div class="alt-title">
                        <h4>Increase resource accessibility with ease — Let us show you how!</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Digitized End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2 class="title">Making primary sources more accessible for all while enhancing remote research,
                        teaching, and coursework</h2>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Our goals are to make primary
                                    sources unique to Queen’s University more accessible to all, and to enhance remote
                                    research, teaching, and coursework opportunities for our faculty and students, this
                                    year in particular, while almost all course work is being delivered remotely. Sara
                                    and Ben have been the most wonderful team to work with as we started up. They have
                                    been responsive to our questions and incredibly helpful in getting us up and
                                    running.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Jeremy Heil</h4>
                                        <span>Digital and Private Records Archivist at Queen’s University
                                            Archives</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Logos -->
    <section class="crowd-logos">
        <div class="container">
            <h2 class="title">Our software has been trusted by librarians and archivists at these institutions:</h2>

            <%= image_tag("materials/transcription-archive-logos.png") %>
        </div>
    </section>
    <!-- Crowd Logos End -->

    <!-- Crowd Banner -->
    <section class="crowd-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="item">
                        <h4>Designed for Special Collections & archive’s unique needs</h4>
                        <p>Helping archivists to transcribe and create searchable resources with ease</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>No Long Learning Curves</h4>
                        <p>Easy-to-use project owners’ interface and transcribers just type what appears in the sources
                        </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Simple controls</h4>
                        <p>Tools to manage public or private transcriber teams</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="item">
                        <h4>Preserve Your Time </h4>
                        <p>Collaborators choose their work and review workflows are built in</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Banner End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials mt100">
        <div class="container">
            <div class="second-title">
                <h4>See What FromThePage Has Done For These Librarians & Archivists</h4>
                <p>By providing accurate transcriptions, translations, and correcting OCR we are removing barriers that
                    prevent access to digital content by people with disabilities</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="loop">
                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>As part of a land grant
                                    institution, the library wholeheartedly supports the mission of sharing knowledge
                                    beyond the campus borders. Adhering to this mission requires a further commitment to
                                    digital accessibility and the inclusive practice of removing barriers that prevent
                                    interaction with, or access to, digital content by people with disabilities. By
                                    providing accurate transcriptions, translations, and correcting OCR, we expand
                                    access to this content for all online users in accordance with WCAG 2.1 AA
                                    accessibility guidelines. Ben and Sara are easy to work with, understand our
                                    profession well, and are committed to making the systems we all use easier and
                                    better integrated.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Daniel Hartwig</h4>
                                        <span>Head of Special Collections and University Archives & Hannah Scates
                                            Kettler, Head of Digital Scholarship and Initiatives at Iowa State
                                            University</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>We wanted to enrich our digitized collections, improving both the searchability and the accessibility of our records; a notoriously difficult thing for most archives to do, but here we have a way forward to address accessibility issues, and have full text available for screen readers. From an administrator's perspective, this had to be one of the easiest platforms to start up. It took all of 10-20 minutes to get our account and project started, and our transcriber managed to transcribe 20 pages before the end of the first day! Honestly, the barrier-to-entry is almost non-existent, and the rewards can be seen almost immediately. The dashboard and summary give us some great stats, and let us know who our most active volunteers are. Now, we can leverage the power of a whole world of volunteers to spend a few minutes here and there in a week to significantly improve the accessibility of our holdings.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Heather Home</h4>
                                        <span>Public Services and Private Records Archivist at Queen’s University Archives</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>Like many archives at the university level, we are eager for students to use archival collections in an intellectually rigorous way. Students and alumni find that crowdsourcing transcription is fun and interesting, as well as academically substantive. Having the documents transcribed enables us to ask different questions and to automate larger-scale data exploration of the primary sources. FromThePage is such a feature-rich, easy-to-use platform that using it for archival records about early Chinese students has been a worthwhile, key phase of our larger project. We have been so fortunate to have FromThePage to keep people engaged with the archives remotely during the pandemic. It is a very intuitive platform for archives and volunteers.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Paige Roberts</h4>
                                        <span>Director of Archives and Special Collections at Phillips Academy in Andover, Maryland</span>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Increase -->
    <section class="crowd-increase">
        <div class="container">
            <h2 class="title">Improve The Accessibility Of Your Holdings Utilizing Volunteer Transcribers</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Collaborate with ease</h4>
                                <p>Whether you have an established team or are looking to crowdsource help, we provide a
                                    platform that allows you to track, control, oversee, and review projects painlessly.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Receive experienced crowdsourcing guidance</h4>
                                <p>Even if you’ve never crowdsourced before, we help you set everything up and provide
                                    advice on how to encourage volunteers to become transcribers for your projects.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Get Real Live Human Support</h4>
                                <p>Always get your questions answered by us directly, the developers of the software.
                                    That way you get the support and help you need faster, no extra steps.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Reclaim your time with simple, intuitive tools</h4>
                                <p>No reason to struggle sorting through a complex set of tools that makes no sense for
                                    your primary source materials. Streamlined, intuitive tools for your specific needs
                                    can be curated to make work easier for you and collaborators.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Secure customized support for your collection’s particular projects</h4>
                                <p>We have experience advising many institutions how to use our wealth of tools for
                                    their specific materials, even if it’s a little out of the box. If you have a unique
                                    need, we are passionate about helping you meet it.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="box">
                                <h4>Forget reinventing the wheel with our plug-and-play solution</h4>
                                <p>Skip the frustration of trying to create your own transcription process or software.
                                    We’ve anticipated the essential features you want and need; developing a superior
                                    software tool for the solution of more searchable documents.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Increase End -->

    <!-- Crowd Revulationize -->
    <section class="crowd-revulationize">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Revolutionize Your Resource Usability While Increasing Public Engagement </h4>
                        <p>With FromThePage you get powerful transcription, annotation, metadata, and indexing
                            capabilities to create searchable documents to expand the community that can access them.
                            Also, the user-friendly interface provides remote volunteering opportunities simply, without
                            overloading you or your team with time consuming tasks. <br> <br> Whether you plan to
                            crowdsource transcription projects from your special collections and archives, or utilize an
                            internal team, we can advise on what features have helped our many successful clients set up
                            their systems for efficiency and ease of use. <br> <br> Our software has been utilized by
                            many special collections and archives. The diverse projects we’ve supported include
                            transcription of institutional correspondence, WWI service cards, journals and diaries,
                            administrative records, financial ledgers, and community histories. We would love to walk
                            you through how FromThePage can help you take your rich historic holdings and make them more
                            accessible.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Revulationize End -->

    <!-- Crowd Ready -->
    <section class="crowd-ready">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title">
                        <h4>Ready for a reliable platform that enhances the speed and accuracy of transcription, while
                            being simple enough to feel easy?</h4>
                        <a href="#">Schedule a Free Demo</a>
                    </div>

                    <div class="text">
                        <h4>The Perfect Software Solution To Turn Digitized Collection Content Into Findable Materials
                        </h4>
                        <p>With our custom demo of the software we show you how FromThePage can be configured to
                            accomplish your specific goals with your actual materials. One way we do this is by sharing
                            case studies of other users to show how our features can support your transcription needs in
                            a variety of ways. <br> <br> The following features are especially relevant and utilized by
                            librarians and archivists:</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Crowdsourced & Collaborative Transcription & Translation.</h4>
                                        <p>Support your
                                            programming with an online component of public engagement of transcription and
                                            translation of primary source materials.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Deep Zoom.</h4>
                                        <p>Collaborators can zoom to decipher difficult handwriting on
                                            uploaded documents.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Collaboration.</h4>
                                        <p>Page level comments and discussion create a rich
                                            experience for transcribers to become more knowledgeable and precise over-time.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Version Control & Track Changes.</h4>
                                        <p>Tools to oversee, track, control, and
                                            review projects so you can maintain high-quality contributions.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Configurable Fields.</h4>
                                        <p>Field-based transcription to support pre-printed
                                            forms allows transcription of structured data from index cards, government forms,
                                            spreadsheets, and questionnaires.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Metadata Creation Via Custom Forms.</h4>
                                        <p>Standardized metadata fields can be
                                            created so that users can create item-level metadata.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Private Projects.</h4>
                                        <p>Project owners can grant access to specific people
                                            only if they wish. This can restrict access to projects to only staff members, members
                                            of a research group, or members of indigenous or descendant communities.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>OCR Correction.</h4>
                                        <p>Review of an OCR text compared to the original source
                                            document allows for human corrected transcriptions.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Indexing & Annotation.</h4>
                                        <p>Users may tag subjects like toponyms or personal
                                            names, automatically creating an index in the text, preserving variant phrases or
                                            spellings used to refer to the same subject.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="box">
                                        <h4>Integration Via IIIF & CONTENTdm.</h4>
                                        <p>Import options to load collections
                                            and associated metadata as simply as entering URLs.</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Ready End -->

    <!-- Crowd Accordion -->
    <section class="crowd-accordion">
        <div class="container">
            <h2 class="title">Making It Possible To Simplify Collaborative Transcription</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Not sure volunteers can create quality transcriptions?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>In our experience, the people that are drawn to this type of volunteering are
                                        very detail oriented, passionate, curious, and committed. You can set customized
                                        guidelines, designated reviewers, and allow version history viewing to help
                                        transcribers become more precise over time.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Apprehensive about the time required to manage projects?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>You can upload documents in small amounts over time, the work is all defined by
                                        your project timeline. Also, training staff or expert volunteers to be in a
                                        reviewer role means your time doesn’t need to be monopolized by review of
                                        transcriptions. And keeping tabs on work is easy, our nightly activity reports
                                        show you progress in your inbox every morning. <br> <br> The extensive list of
                                        projects we’ve consulted on allows us to make suggestions to make sure your
                                        projects will be successful and will not take excess time and effort on your
                                        part.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Worried organizational leaders won’t understand the investment?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can help. The information we provide can be used to explain how this software
                                        will radically increase the usability of the resources while cultivating
                                        community engagement, allowing for the development of research initiatives, as
                                        well as enhancing collection accessibility for interoperability and supporting
                                        digital preservation.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Think you might need a grant for funding?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We’ve worked in research computing for the humanities and social sciences, so we
                                        can advise on what helps make grant applications more compelling. <br> <br> The
                                        information we can provide to reinforce your application includes similar case
                                        studies to show how FromThePage is essential to providing readable, searchable
                                        collections and how it’s been successfully used by many others to do just that.
                                        <br> <br> We go so far as to help with Letters of Support and Budget Line item
                                        breakdowns so including FromThePage in your grant applications is seamless.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Disappointed by previous software experiences?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>After our custom demo call, if it doesn’t seem like a good fit, we can recommend
                                        different approaches, other collaborators, or other platforms if they’re more
                                        appropriate — we really don’t want you to use our software if it’s wrong for
                                        your needs. <br> <br> We do want you to be successful. We will support you
                                        however we can in charting your path to reach your library's goals.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Worried FromThePage won’t work for your specific project?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can share examples of other projects that are doing similar work. This allows
                                        us to strategize with you on how best to tackle your particular materials and
                                        gives you an idea of the vast variety of projects we’ve supported.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Concerned you won’t have time to learn yet another piece of software?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>It is our mission to make it easier, more enjoyable, and more productive to
                                        expand your online offerings. We will help you set up your interface so you are
                                        ready to hit the ground running, with your team or with volunteers. We can help
                                        you with recruitment strategies and also promote the project through the
                                        FromThePage website to our established, enthusiastic transcriber community. <br>
                                        <br>The flexibility of the platform coupled with the import/export options and
                                        the support of many different document types means integration is really simple.
                                        <br> <br>If you have any questions along the way, we are available to answer
                                        them by email or chat. We can also set up a meeting to share our screen and walk
                                        through the platform functions with you. <br> <br>You will never be left banging
                                        your head against your desk, we promise. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Accordion End -->

    <!-- Crowd Second Banner -->
    <section class="crowd-second-banner">
        <div class="container">
            <h2 class="title">Put Our Understanding Of Your Library’s Needs To Work For You</h2>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <ul>
                        <li>We know your community is underserved by technologists. We are changing that.</li>
                        <li>As experienced software developers we have created a tool that works incredibly well, but
                            more importantly it works well to make transcription of your library resources efficient and
                            easy.</li>
                        <li>For every client we start by diving deep on your particular materials with you to talk
                            through optimal transcription strategies and set-up.</li>
                        <li>It’s as easy as adding digitized documents to FromThePage and inviting your community to
                            help transcribe those materials.</li>
                        <li>We present an image of the uploaded page to a user and a place for them to type what's on
                            the page. Those two things together make magic, but the magic is done by humans.</li>
                        <li>No need to wonder if our software can measure up to your unique holdings, we are happy to
                            share case studies to highlight a wide variety of use cases.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Second Banner End -->

    <!-- Crowd Case -->
    <section class="crowd-case">
        <div class="container">
            <h2 class="title">Case Studies Using FromThePage</h2>

            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <div class="loop-case">
                        <div class="box">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= image_tag("materials/transcription-archive01.png") %>
                                    </div>

                                    <div class="col-lg-6">
                                        <p>The Iowa State University Library has loaded 43 collections totaling more than 42,000 pages into FromThePage with the goal of providing accurate transcriptions to expand access to content for all online users. A variety of Special Collections & University Archives materials are worked on by crowdsourced collaborators. Six collections have been made available to the public with more released as they are fully transcribed. Check out how easy the upload process has been for them <a href="#">here</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/crowd-case01.png") %>

                                <p>FromThePage allows the public to have meaningful interaction with the Genealogy, Local History &
                                    Archives Unit of the Fort Worth Public Library. Over 8,000 pages have been transcribed in a
                                    little over a year. Volunteers enjoy making a contribution to the historical record by
                                    transcribing hand-written or type-written documents, helping make digitized records more useful
                                    to researchers by speeding up the indexing process. Learn more about this crowdsourcing success
                                    <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/transcription-archive02.png") %>
                                <p><a href="#">Ohio University Libraries</a> uses FromThePage to generate transcriptions and descriptive metadata for dance posters in their collection. This project is a hybrid project, transcriptions are generated along with text from the posters captured through standardized metadata fields. This allows more accessibility and findability by users, also allowing discovery of related posters based on the standardized fields. See examples of how to capture metadata for your collection <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/transcription-archive03.png") %>
                                <p>Adam Rabinowitz, a Classics Professor at the University of Texas at Austin, uses FromThePage as a teaching tool in an undergraduate course. Each student is assigned to find the primary source materials in the archive and transcribe any letter in the collection using FromThePage. Then a larger collection of transcribed letters are provided to write a paper. Read more on Adam’s use of transcription for pedagogy <a href="#">here</a>.</p>
                            </div>
                        </div>



                        <div class="box">
                            <div class="item">
                                <%= image_tag("materials/transcription-archive04.png") %>
                                <p>Heather Home and Jeremy Heil of Queen's University Archives use FromThePage to make primary source material more accessible, searchable, and usable. Transcription helps foster research, reveal information, and highlight materials that are often thought to be “hidden” due to the fact that their contents are not easily searchable how people have become accustomed. As they increase their digitization projects find out more about how FromThePage is providing ways to improve the discoverability of their immense holdings <a href="#">here</a>.</p>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Case End -->

    <!-- Crowd Testimonials -->
    <section class="crowd-testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="third-title">
                        <h4>What Others Are Saying About FromThePage</h4>
                        <!-- <p>Easy for all users to simultaneously edit, review, and track progress</p> -->
                    </div>

                    <div class="loop">

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>FromThePage has proven to be a very versatile tool. It’s a great platform for collaborative work, making it easy for all users to simultaneously edit, review, and track progress within a collection. The management features also allow a lot of flexibility. Using the field-based transcription option, for example, we’ve created projects to tag works and collect metadata so our collaborators can assist with content description, in addition to transcribing. The software lends itself to creative uses by allowing administrators to configure projects and access the data in a variety of ways.<%= image_tag("icons/quote02.svg", class: 'bottom') %></p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Erin Wilson</h4>
                                        <span>Digital Imaging Specialist and Lab Manager at Ohio University Libraries</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>The killer feature that takes FromThePage well beyond other transcription interfaces I have seen [...] is the powerful yet simple wiki-like annotation and indexing feature. Using simple double brackets, or an optional automatic suggested markup feature, simple transcriptions immediately become “tagged” (though only for items explicit in a text, rather than arbitrary tags) in a truly powerful way, allowing visitors to find documents through a index of subjects, places, or people – or jump immediately from linked subjects within a text to others like it in what becomes a rich hypertext environment. <%= image_tag("icons/quote02.svg", class: 'bottom') %>
                                </p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Konrad Lawson</h4>
                                        <span>"Crowdsourced Transcription: FromThePage and Scripto"; ProfHacker, Chronicle of Higher Education</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="item">
                                <p><%= image_tag("icons/quote01.svg", class: 'top') %>With all of its features, FromThePage has proven to be incredibly useful for us in cultivating community engagement, developing research initiatives, and enhancing collection accessibility. This is primarily due to the customization the platform enables. On the one hand, project contributors have the ability to reconfigure with relative ease their workspace and workflows, such as using dictation to transcribe. On the project management side, the import and export features being designed and deployed as part of the NEH-funded work with UT Libraries will greatly facilitate the movement of collections between our institutional repositories and the platform to expedite access and preserve citizen scholarship. <%= image_tag("icons/quote02.svg", class: 'bottom') %>
                                </p>

                                <div class="info">

                                    <div class="text">
                                        <h4>Allyssa Guzman</h4>
                                        <span>Digital Scholarship Librarian at the University of Texas at Austin Libraries & Albert Palacios, Digital Scholarship Coordinator at the University of Texas for the LLILAS Benson Latin American Studies and Collections</span>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Testimonials End -->

    <!-- Crowd Schedule -->
    <section class="crowd-schedule">
        <div class="container">
            <div class="title">
                <h4><%= number_with_delimiter Page.where.not(status: :new).count %></h4>
                <p>Pages — and counting!</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="text">
                        <h4>Schedule A Live Demo To Get A Personalized Walk-Through</h4>
                        <p>FromThePage allows you to make your digitized collection content more accessible, searchable, and ultimately more usable. You can even engage volunteers in citizen scholarship while you do it! <br> <br>Volunteer transcription is a great way for people to make a real difference from their home, whether they are making access to public documents easier, highlighting people forgotten by the historic records, or spotlighting a particular person or community. <br> <br> Whether you transcribe internally or crowdsource with volunteers, we are here to help. If we don’t currently have the functionality you need, we will develop the solution collaboratively with you, or we will suggest alternate collaborators or platforms to help you reach your goals. <br> <br> That’s what you get when you have developers that are fully invested in your success.</p>

                        <h6>Reserve your call to learn how FromThePage can expand collection usability!</h6>
                        <a href="#">Schedule a Free Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Crowd Schedule End -->

<%= render "shared/landingfooter" %>

</body>

</html>
