

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <p>
      	Identifying Repository<br>
		Name: <%= @identify_response.repository_name %><br />
		Protocol: <%= @identify_response.protocol %><br />
		Granularity: <%= @identify_response.granularity %><br />
		Earliest DateStamp: <%= @identify_response.earliest_datestamp %><br />
		Deleted Record: <%= @identify_response.deleted_record %><br />
		Compression: <%= @identify_response.compression %><br />
		Base URL: <%= @identify_response.base_url %><br />
		Admin Email: <%= @identify_response.admin_email %><br />
      </p>    
    </div>
  </div>
</div>
