

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <p>
      	<% @list_records_response.each do |record| %>
			OAI ID: <%= record.header.identifier %><br />
			ID URL: <%= link_to(record.metadata.elements['.//dc:title'].text,
								record.metadata.elements['.//dc:identifier'].text) %>
			<% if record.header.identifier.include? 'archive.org' %>
				<%= button_to("Import",
							  { :controller => 'ia',
								:action => 'confirm_import',
								:detail_url => record.metadata.elements['.//dc:identifier'].text})%>
			<% end %>
			<br />
	    <% end %>
      </p>
    </div>
  </div>
  <div class="right-column">
  	<div class="inside-column">

                <%= html_block('right') %>
		<p>
			This is a list of works that OAI-PMH finds in the set
			<code><%=@set_spec%></code> at the repository at
			<code><%=@repository_url%></code>
		</p>
  	</div>
  </div>
</div>
