<div class="columns">
  <div class="maincol">
    <p>
      <% @repositories.each do |repository| %>
        <%= repository.url %>: <%= link_to('Identify', { :action => 'identify_repository', :repository_url => repository.url}) %>
        <!-- <%= link_to('m', { :action => 'metadata_format_list', :repository_url => repository.url}) %> -->
        <%= link_to('Show All Sets', { :action => 'set_list', :repository_url => repository.url}) %><br>
      <% end %>
    </p>
  </div>

  <div class="sidecol">
    <%= html_block('right') %>
  </div>
</div>