<%= render({ :partial => '/shared/collection_tabs',
             :locals => { :selected => 2,
                          :collection_id => @collection.id }}) %>

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <p>
	<%= form_for :collection, url: {action: :update, id: @collection.id} do |f| %>
	  <p>
	    <%= f.label :title, style: "width: 100px; display: inline-block" %>
	    <%= f.text_field :title, value: @collection.title %>
	  </p>
	  <p>
	    <%= f.label :owner, style: "width: 100px; display: inline-block" %>
	    <%= link_to(@collection.owner.display_name, { :controller => 'user', :action => 'profile', :user_id => @collection.owner.id }) %>
	  </p>
	  <p>
	    <%= f.label :intro_block %>
	    <%= f.text_area :intro_block, value: @collection.intro_block, cols: 90, style: "width: 100%" %>
	  </p>
	  <p>
	    <%= f.label :footer_block %>
	    <%= f.text_area :footer_block, value: @collection.footer_block, cols: 90, style: "width: 100%" %>
	  </p>
	  <%= f.submit %>
	<% end %>
	<%= button_to("Delete", { :controller => 'collection', :action => 'delete', :collection_id => @collection.id }, { :confirm => 'Are you sure?' }) %>
	<br />
      </p>
      <p>
        Works in <%= @collection.title %>:<br />
        <table>
          <tr>
            <th>
              Title
            </th>
            <th>
              Actions
            </th>
          </tr>
	        <% for work in @collection.works %>
	          <tr>
	            <td>
    	          <%= work.title %>
  	          </td>
  	          <td>
			          <%= link_to('remove',
			                      { :action => 'remove_work_from_collection',
			                        :work_id => work.id,
			                        :collection_id => @collection.id })%><br />
              </td>
            </tr>
	        <% end %>
        </table>
      </p>
    </div>
  </div>
  <div class="right-column">
    <div class="inside-column">
                  <%= html_block('right') %>
      <p>
        Works not in <%= @collection.title %>:<br />
        <table>
          <tr>
            <th>
              Title
            </th>
            <th>
              Action
            </th>
          </tr>
	        <% for work in @works_not_in_collection %>
	          <tr>
	            <td>
    	          <%= work.title %>
  	          </td>
  	          <td>
			          <%= link_to('add',
			                      { :action => 'add_work_to_collection',
			                        :work_id => work.id,
			                        :collection_id => @collection.id })%>
              </td>
            </tr>
	        <% end %>
        </table>
      </p>
    </div>
  </div>
</div>
