<%= render({ :partial => '/shared/collection_tabs',
             :locals => { :selected => 2,
                          :collection_id => @collection.id }}) %>

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <p>
				Title: <span id="title_<%= @collection.id %>"><%= @collection.title %></span>
				<%= in_place_editor("title_#{@collection.id}",
				                    { :url => url_for({ :action => "set_collection_title", 
				                                        :id => @collection.id }) }) %>
				<br />
				Owner: <%= link_to(@collection.owner.display_name,
	                           { :controller => 'user',
	                               :action => 'profile',
	                               :user_id => @collection.owner.id }) %>
				<br />
				Introductory Block: 
				<br />
				<span id="intro_block_<%= @collection.id %>"><%= @collection.intro_block || raw("<i>none</i>") %></span>
				<%= in_place_editor("intro_block_#{@collection.id}",
				                    { :url => url_for({ :action => "set_collection_intro_block", 
				                                        :id => @collection.id }),
				                      :rows => 8  }) %>
				<br />
				
				Footer Block: 
				<br />
				<span id="footer_block_<%= @collection.id %>"><%= @collection.footer_block || raw("<i>none</i>") %></span>
				<%= in_place_editor("footer_block_#{@collection.id}",
				                    { :url => url_for({ :action => "set_collection_footer_block", 
				                                        :id => @collection.id }),
				                      :rows => 8  }) %>
				<br />
				
				<%= button_to("Delete",
				            { :controller => 'collection',
				              :action => 'delete',
				              :collection_id => @collection.id,
                      :ol => 'c_del' },
				            { :confirm => 'Are you sure?' }) %>
				<br />
			</p>
      <p>
        Works in <%= @collection.title %>:<br />
        <table>
          <tr>
            <th>
              Title
            </th>
            <th>
              Actions
            </th>
          </tr>
	        <% for work in @collection.works %>
	          <tr>
	            <td>
    	          <%= work.title %>
  	          </td>
  	          <td>
			          <%= link_to('remove', 
			                      { :action => 'remove_work_from_collection',
			                        :work_id => work.id,
			                        :collection_id => @collection.id,
                              :ol => 'c_rmv_work' })%><br />
              </td>
            </tr>
	        <% end %>
        </table>
      </p>
    </div>
  </div>
  <div class="right-column">
    <div class="inside-column">
                  <%= html_block('right') %>
      <p>
        Works not in <%= @collection.title %>:<br />
        <table>
          <tr>
            <th>
              Title
            </th>
            <th>
              Action
            </th>
          </tr>
	        <% for work in @works_not_in_collection %>
	          <tr>
	            <td>
    	          <%= work.title %>
  	          </td>
  	          <td>
			          <%= link_to('add', 
			                      { :action => 'add_work_to_collection',
			                        :work_id => work.id,
			                        :collection_id => @collection.id,
                              :ol => 'c_add_work' })%>
              </td>
            </tr>
	        <% end %>
        </table>
      </p>
    </div>
  </div>
</div>
