<%= render({ :partial => '/shared/collection_tabs',
             :locals => { :selected => 0,
                          :collection_id => @collection.id }}) %>

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">

		<h3>
			Owners of this collection
		</h3>
		<p>
			Owners of a collection may add new works to the collection and 
			upload page images as well as transcribing and reading works in 
			the collection.
		</p>
    	<table>
    	  <thead>
    	  	<tr>
    	  	  <th>
    	  	  	User
			  </th>
			  <th>
			  	Contributions
			  </th>
			  <th>
			  	Action
			  </th>
			</tr>
		  </thead>
		  <tbody>
			<% for user in @owners %>
		  	<tr>
		  	  <td>		  			
			  <%= link_to(user.display_name,
	                           { :controller => 'user',
	                               :action => 'profile',
	                               :user_id => user.id }) %>
		      </td>
			  <td align="right">
			  	<%=user.deeds.count :conditions => "collection_id = #{@collection.id}"%>
			  </td>
			  <td>
			  	<% if @main_owner == user %>
				  <i>none</i>
				<% else %>
				  <%= button_to("Remove", 
				              { :action => 'remove_owner', 
				                :user_id => user.id, 
				                :collection_id => @collection.id, 
	                      :ol => 'w_st_sl_remove' }) %>
			    <% end %>
			  </td>
		  	</tr>
			<% end %>
		</tbody>
  	  </table>
	  <h3>
	  	Collection Privacy
	  </h3>
	  <% if @collection.restricted %>
	  	  <p>
	  	  	Currently <i><%= @collection.title %></i> can only be viewed by users in the list above.  You may make the collection publicly readable.
	  	  </p>
		  <%= button_to("Make Collection Public", 
              { :action => 'publish_collection', 
                :collection_id => @collection.id }) %>
	  <% else %>
	  	  <p>
	  	  	Currently <i><%= @collection.title %></i> may be ready by anyone on the internet.  You may make the collection private if you want to restrict its visiblity to collection owners.
	  	  </p>
		  <%= button_to("Make Collection Private", 
              { :action => 'restrict_collection', 
                :collection_id => @collection.id }) %>
	  <% end %>

    </div>
  </div>
  <div class="right-column">
    <div class="inside-column">
        <%= html_block('right') %>
		<h3>
			Other Users
		</h3>
    	<table>
    	  <thead>
    	  	<tr>
    	  	  <th>
    	  	  	User
			  </th>
			  <th>
			  	Contributions
			  </th>
			  <th>
			  	Action
			  </th>
			</tr>
		  </thead>
		  <tbody>
			<% for user in @nonowners %>
		  	<tr>
		  	  <td>		  			
			  <%= link_to(user.display_name,
	                           { :controller => 'user',
	                               :action => 'profile',
	                               :user_id => user.id }) %>
		      </td>
			  <td align="right">
			  	<%=user.deeds.count :conditions => "collection_id = #{@collection.id}"%>
			  </td>
			  <td>
			  	
				  <%= button_to("Add", 
				              { :action => 'add_owner', 
				                :user_id => user.id, 
				                :collection_id => @collection.id, 
	                      :ol => 'w_st_sl_remove' }) %>
			  </td>
		  	</tr>
			<% end %>
		</tbody>
  	  </table>
    </div>
  </div>
</div>

