<h1>Listing document_uploads</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Collection</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_uploads.each do |document_upload| %>
      <tr>
        <td><%= document_upload.user %></td>
        <td><%= document_upload.collection %></td>
        <td><%= document_upload.file %></td>
        <td><%= link_to 'Show', document_upload %></td>
        <td><%= link_to 'Edit', edit_document_upload_path(document_upload) %></td>
        <td><%= link_to 'Destroy', document_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document upload', new_document_upload_path %>
