<%= render({ :partial => '/shared/page_tabs',
             :locals => { :selected =>2,
                          :page_id => @page.id }}) %>

<%= html_block('right') %>

<div class="two-columns">
  <div class="left-column">
		<div class="inside-column">
			<div class="revision_meta">
			  Revision
			    to
			  <%= link_to(@page_version.page.title,
			              { :controller => 'page_version',
			                :action => 'list',
			                :page_id => @page_version.page.id }) %>
			  at <%= @page_version.created_on.strftime("%m/%d/%Y %I:%M %p")  %>
			  as edited by
			    <%= link_to(@page_version.user.display_name,
	                           { :controller => 'user',
	                               :action => 'profile',
	                               :user_id => @page_version.user.id }) %>.

			</div>
    </div>
	  <div class="inside-column">
	    <h2><%= @page_version.title %></h2>
	  </div>

	  <div id="transcription_display_area" class="inside-column">
	    <% if @page_version.xml_transcription != nil &&
	          !@page_version.xml_transcription.empty? %>
	      <%= raw(xml_to_html(@page_version.xml_transcription)) %>
	    <% else %>
	      <i>No Transcription Provided</i>
	    <% end %>
	  </div>
	</div>

  <div class="right-column">
		<div class="inside-column">
			<div class="revision_meta">
			  Current Version of
			  <%= link_to(@page_version.page.title,
			              { :controller => 'page_version',
			                :action => 'list',
			                :page_id => @page_version.page.id }) %>
      </div>
    </div>
	  <div class="inside-column">
	    <h2><%= @page_version.page.title %></h2>
	  </div>

	  <div id="transcription_display_area" class="inside-column">
	    <% if @page_version.page.xml_text != nil &&
	          !@page_version.page.xml_text.empty? %>
	      <%= raw(xml_to_html(@page_version.page.xml_text)) %>
	    <% else %>
	      <i>No Transcription Provided</i>
	    <% end %>
	  </div>
  </div>
 </div>
