<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @sc_manifest.work %>
</p>

<p>
  <strong>Sc collection:</strong>
  <%= @sc_manifest.sc_collection %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @sc_manifest.sc_id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @sc_manifest.label %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= @sc_manifest.metadata %>
</p>

<p>
  <strong>First sequence:</strong>
  <%= @sc_manifest.first_sequence_id %>
</p>

<p>
  <strong>First sequence label:</strong>
  <%= @sc_manifest.first_sequence_label %>
</p>

<p>
	<%= button_to("Convert", { :action => :convert, :sc_manifest_id => @sc_manifest.id })%>
</p>

<h4>Canvases</h4>
<% @sc_manifest.sc_canvases.each do |canvas| %>
	<%= canvas.sc_canvas_label %>
	<br/>
	<!-- img src=<%=canvas.thumbnail_url%> / -->
	<%= image_tag(canvas.thumbnail_url) %>
	<br/>
<% end %>



<%= link_to 'Back', sc_collection_path(@sc_manifest.sc_collection) %>
