<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			<%= @user.errors.full_messages %>
			<%= form_for :user do |f| %>
			<p><label for="login">Login</label><br/>
			<%= f.text_field :login %></p>
			
			<p><label for="password">Password</label><br/>
			<%= f.password_field :password %></p>
			
			<p><label for="password_confirmation">Confirm Password</label><br/>
			<%= f.password_field :password_confirmation %></p>
			
			<p><label for="display_name">Screen Name</label><br/>
			<%= f.text_field :display_name %></p>
			
			<p><label for="print_name">Real Name</label><br/>
			<%= f.text_field :print_name %></p>
			
			<p><label for="email">Email</label><br/>
			<%= f.text_field :email %></p>
			
			<%= show_simple_captcha :label => "Please type the text from the image below (case sensitive)" %>
			
			<p><%= submit_tag 'Sign up' %></p>
			<% end -%>
		</div>
	</div>
	<div class="right-column">
		<div class="inside-column">
		  <%= html_block('right') %>
		</div>
	</div>
</div>
