<%= form_with(url: bulk_export_create_path, model: bulk_export, local: true) do |form| %>
  <% if bulk_export.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulk_export.errors.count, "error") %> prohibited this bulk_export from being saved:</h2>

      <ul>
        <% bulk_export.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :plaintext_verbatim %>
    <%= form.check_box :plaintext_verbatim %>
  </div>

  <div class="field">
    <%= form.label :plaintext_emended %>
    <%= form.check_box :plaintext_emended %>
  </div>

  <div class="field">
    <%= form.label :plaintext_searchable %>
    <%= form.check_box :plaintext_searchable %>
  </div>

  <div class="field">
    <%= form.label :tei %>
    <%= form.check_box :tei %>
  </div>

  <div class="field">
    <%= form.label :html %>
    <%= form.check_box :html %>
  </div>

  <div class="field">
    <%= form.label :subject_csv %>
    <%= form.check_box :subject_csv %>
  </div>

  <div class="field">
    <%= form.label :field_csv %>
    <%= form.check_box :field_csv %>
  </div>

  <div class="field">
    <%= form.label :page_level %>
    <%= form.check_box :page_level %>
  </div>

  <div class="field">
    <%= form.label :work_level %>
    <%= form.check_box :work_level %>
  </div>

  <div class="field">
    <%= form.label :collection_level %>
    <%= form.check_box :collection_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
