

<%= render({ :partial => '/shared/page_tabs',
             :locals => { :selected =>3,
                          :page_id => @page.id }}) %>
    <div id="subundernav">
      <h4><%= @page.title %></h4>
    </div>
    


<div class="two-columns">
	<div class="left-column">
    <%= render :partial => '/shared/page_navigation' %>


    <div class="inside-column">
        <%= html_block('left') %>
	    <% if logged_in? && current_user.like_owner?(@collection) %>
			<p>
			<%= link_to('Manage Categories',
						{ :controller => 'category',
						  :action => 'manage',
						  :page_id => @page.id }) %>
				
			</p>
		<% end %>


	    <% for article in @page.articles %>
	      <% if article.categories.length == 0 %>
		      <h3><%= article.title %></h3>
					<%= render({ :partial => '/article/article_categories',
					             :locals => { :article => article }}) %>
  	    <% end %>
	    <% end %>
      <%= button_to("Done", 
                    { :action => 'display_page', 
                      :controller => 'display', 
                      :page_id => @page.id }) %>
    </div>
	</div>

  <div class="right-column">
        <div class="inside-column">
                <%= html_block('right') %>
        </div>
  </div>

</div>
