<%= render({ :partial => '/shared/page_tabs',
             :locals => { :selected => 6, :page_id => @page.id }}) %>

<div class="two-columns">
	<div class="left-column">

		<%= render :partial => '/shared/page_navigation' %>
		<div id="translation_form_area" class="inside-column">
			<div id="translation_form">

				<%= form_for(@page, :url => { :action => 'save_translation' }) do |f| %>
				<%= html_block('left') %>
				<%= hidden_field_tag(:page_id, @page.id) %>
				<br />

	    		<%= f.label :source_translation, "Translation:" %><br />
					<%= f.text_area :source_translation, { :cols => 60, :style => "width: 100%; height: #{@page.source_translation ? @page.source_translation.lines.count*1.5 : 30}em; min-height: 30em" } %>
				<br />
				<%= f.label :status, "Page Status:" %>
				<%= f.select :status, Page::STATUSES, {:include_blank => true}, { :title => Page::STATUS_HELP } %>
				<br />
				<%= submit_tag "Save", :name => 'save' %>
				<% end%>

				<% if @work.translation_instructions  %>
				<%= raw(@work.translation_instructions) %>
				<% end %>
			</div><!-- in col 2 -->
		</div><!-- in col -->
	</div><!-- left col -->

	<div class="right-column" style="position: relative; top: 0px;">

		<%= html_block('right') %>
		<div id="transcription_display_area" class="inside-column">
			<h2><%= @page.title %></h2>
			<% if @page.xml_text != nil && !@page.xml_text.empty? %>
			<%= raw(xml_to_html(@page.xml_text)) %>
			<% else %>
			<p>
				<i> <%= link_to('Help transcribe this page!',
				{ :controller => 'transcribe',
				:action => 'display_page',
				:page_id => @page.id }) %> </i>
			</p>
			<% unless @page.status == Page::STATUS_BLANK %>
			<%= button_to('mark this page blank',
			{ :controller => 'transcribe',
			:action => 'mark_page_blank',
			:page_id => @page.id }) %>
			<% end %>
			<% end %>
		</div>
		<div class="inside-column">
			<div id="note_container" style="display: none">
				<%= render :partial => "notes/form_new" %>
			</div>
			<%= link_to "add comment", "#", id: "toggle" %>
			<%= render :partial => "notes/notes" %>
		</div>
	</div>

</div><!-- two col -->

<script>
	Event.observe(window, "load", function() {
		initCheckingForModifications(['zi_icon', 'zi_text', 'zo_icon', 'zo_text']);
	});
</script>
