<h2><%= t('.greeting', email: @resource.email) %></h2>
<p><%= t('.message_1') %></p>
<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t('.message_2') %></p>
<p><%= t('.message_3')%></p>