<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			
			<p id="notice"><%= notice %></p>

			<p>
			  <b>Title:</b>
			  <%= @omeka_item.title %>
			</p>
			
			<p>
			  <b>Subject:</b>
			  <%= @omeka_item.subject %>
			</p>
			
			<p>
			  <b>Description:</b>
			  <%= @omeka_item.description %>
			</p>
			
			<p>
			  <b>Rights:</b>
			  <%= @omeka_item.rights %>
			</p>
			
			<p>
			  <b>Creator:</b>
			  <%= @omeka_item.creator %>
			</p>
			
			<p>
			  <b>Format:</b>
			  <%= @omeka_item.format %>
			</p>
			
			<p>
			  <b>Coverage:</b>
			  <%= @omeka_item.coverage %>
			</p>
			
			<p>
			  <b>Omeka Connection:</b>
			  <%= @omeka_item.omeka_site.title %>
			</p>
			
			<p>
			  <b>Omeka Item ID:</b>
			  <%= @omeka_item.omeka_id %>
			</p>
			
			<p>
			  <b>Omeka Item API URL:</b>
			  <%= @omeka_item.omeka_url %>
			</p>
			
			<p>
			  <b>Omeka Collection ID:</b>
			  <%= @omeka_item.omeka_collection_id %>
			</p>
			<%= button_to "Import", :action => :import, :id => @omeka_item.id %>			
			
			<%= link_to 'Edit', edit_omeka_item_path(@omeka_item) %> |
			<%= link_to 'Back', omeka_items_path %>
			
	    </div>
	</div>
	<div class="right-column">

	    <div class="inside-column">
			<%= html_block('right') %>
			<ul>
				<% @omeka_item.client_files.each do |file| %>
					<li>
						<%= file.data.id %>										
						<br />
						<%= file.data.mime_type %>										
						<br />
						<%= file.data.original_filename %>										
						<br />
						<%= link_to(image_tag(file.data.file_urls.thumbnail), file.data.file_urls.fullsize) %>			
						<br />
						
					</li>
		
				<% end%>
				
			</ul>
	    </div>
	</div>
</div>

