<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">

			<p id="notice"><%= notice %></p>

			<p>
			  <b>Title:</b>
			  <%= @omeka_item.title %>
			<br/>
			  <b>Subject:</b>
			  <%= @omeka_item.subject %>
			<br/>
			  <b>Description:</b>
			  <%= @omeka_item.description %>
			<br/>
			  <b>Rights:</b>
			  <%= @omeka_item.rights %>
			<br/>
			  <b>Creator:</b>
			  <%= @omeka_item.creator %>
			<br/>
			  <b>Format:</b>
			  <%= @omeka_item.format %>
			<br/>
			  <b>Coverage:</b>
			  <%= @omeka_item.coverage %>
			<br/>
			  <b>Omeka Connection:</b>
			  <%= @omeka_item.omeka_site.title %>
			<br/>
			  <b>Omeka Item ID:</b>
			  <%= @omeka_item.omeka_id %>
			<br/>
			  <b>Omeka Item API URL:</b>
			  <%= @omeka_item.omeka_url %>
			<br/>
			  <b>Omeka Collection ID:</b>
			  <%= @omeka_item.omeka_collection_id %>
			</p>
			<%= button_to "Publish to Editors", :action => :import, :id => @omeka_item.id %>

			<%= link_to 'Edit', edit_omeka_item_path(@omeka_item) %> |
			<%= link_to 'Back', omeka_items_path %>

	    </div>
	</div>
	<div class="right-column">

	    <div class="inside-column">
			<%= html_block('right') %>
				<% @omeka_item.client_files.each do |file| %>
						<b>File Id:</b> <%= file.data.id %>
						<br />
						<b>File MIME Type:</b> <%= file.data.mime_type %>
						<br />
						<b>File Original Filename:</b> <%= file.data.original_filename %>
						<br />
						<%= link_to(image_tag(file.data.file_urls.thumbnail), file.data.file_urls.fullsize) %>
						<br />
				<% end%>
	    </div>
	</div>
</div>

