<!DOCTYPE html>
<html>
<head>
  <% if @page && @work && @collection
       title = "#{@collection.title} -- #{@work.title} -- #{@page.title} (FromThePage)"
     elsif @work && @collection
       title = @collection.title + ' -- ' + @work.title + ' (FromThePage)'
     elsif @article && @collection
       title = @collection.title + ' -- ' + @article.title + ' (FromThePage)'
     elsif @collection && @collection.title
       title = @collection.title + ' (FromThePage)'
     else
       title = 'FromThePage'
     end
  %>
  <title><%= title %></title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <%#= stylesheet_link_tag 'transcribe' %>

  <meta name="verify-v1" content="2pFw887E35Fhfkyj/nFGzyui8dJ4rLbluudrp1mDcj0=" />

</head>
<body>
  <div id="undernav">
    <%= link_to "Dashboard", dashboard_path %>
    <% if user_signed_in? %>
	    <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
    <% else %>
	    <%= link_to('Log in', new_user_session_path) %>
	    |
	    <%= link_to('Sign Up', new_user_registration_path) %>
    <% end %>
	|
	<%= link_to('FAQ', { :controller => 'static', :action => 'faq' }) %>
  </div>

   <div id="header" class="outside-column">
      <h2 class="site-logo">
	<%= link_to "FromThePage", root_path %>
      </h2>
	    <% if 'development' == Rails.env %>
	      <h3>
          This is the development version of FromThePage.
          The beta version is located at <a href="http://beta.fromthepage.com/">beta.fromthepage.com</a>.
        </h3>
	    <% end%>
    </div>
    <div id="work-logo" class="outside-column">
      <% if (@work && @work.title) || (@collection && @collection.title) %>
        <h1 class="work-logo">
	        <% if @collection %>
		        <%= link_to(@collection.title,
		                    { :controller => 'collection',
		                      :action => 'show',
		                      :collection_id => @collection.id }) %>
	        <% end %>
	        <%= raw("&mdash;") if @collection && @work %>
	        <% if @work && @work.title %>
		        <%= link_to(@work.title,
		                    { :controller => 'display',
		                      :action => 'read_work',
		                      :work_id => @work.id }) %>
	        <% end %>
        </h1>
      <% end %>
    </div>

<% if(flash[:notice]) %>
        <p style="color: green"><%= flash[:notice] %></p>
<% end %>
<% if(flash[:error]) %>
        <p style="color: red"><%= flash[:error] %></p>
<% end %>

<%= flash[:alert] %>

<div><!-- layout content -->
<%= @content_for_layout %>
<%= yield %>
</div><!-- layout content -->
<% if @collection && @collection.footer_block %>
	<div class="outside-column"><%=@collection.footer_block%></div>
<% end %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1505790-5");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
